@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../variables.scss';

*,html,body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *::-webkit-scrollbar-track, *::-webkit-scrollbar-thumb {
  scrollbar-color: rgba(var(--dark-green-02), 1) rgba(var(--clear-green-02), 1);
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid rgba(var(--dark-green-03), 1);
}
html, body, #app {
  height: 100vh;
  overflow: hidden;
}
html,body {
  background-image: var(--background-image);
  background-position: 100% auto;
  background-size: cover;
  background-repeat: no-repeat;
}
#app {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
  color: rgba(var(--dark-green-01), 1);
  font-family: var(--opensans-text);
}

a,h1,h2,h3,h4,h5,h6,h4 a,.h5-container a {
  font-family: 'Cinzel';
  margin: 0;
  color: rgba(var(--dark-green-01), 1);
}
h2,h3 {
  font-family: var(--montserratRegular);
  font-weight: 600;
}
h4 {
  font-size: 1.25rem;
}