@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../variables.scss';
/* UTILITIES */
.border-radius-100{
    border-radius: 100%;
}
.border-radius-50{
    border-radius: 50%;
}
/* Border Radius */

.image-fiction-container-background,
.image-fiction-container{
    border-radius: 12px;
    border: rgba(var(--middle-green-01), 1) 5px solid;
    box-shadow: 10px 5px 5px rgba(var(--dark-green-01), 1);
}
.fiction-summary-card, .character-chapters.background-summary-global-container{
    border-radius: 12px
}
.card.location-clan-background-width-container{
    border-radius: 100% 100% 8% 8%;
}
#all-characters-container-card .character-card.card {
    border-radius: 8rem 8rem 1rem 1rem;
}
.clan-card {
    border-radius: 70% 70% 0 0;
}
.image-illustration-right{
    border-radius: 50% 0 0 50%;
    border : 1rem solid rgba(var(--clear-green-01), 1);
}
.character-card.card .card-image {
    border-radius: 100% 100% 0 0;
}
.card.card-image-layout.clan-detail-layout {
    border-radius: 20px 0 0 20px;
    margin: 1rem;
}
.card-image img, .details-infos-characters {
    border-radius: 10px;
}
#original-characters-list .border-card-color
{
    border-radius: 90% 90% 8px 8px;
    border: 6px solid rgba(var(--clear-green-01), 1);
}
#original-characters-list .card.individual-character-card{
    border-radius: 100% 100% 12px 12px;
    border: rgba(var(--dark-green-01), 1) 5px solid;
}
#original-characters-list  .card.individual-character-card{
    border-radius: 46% 46% 12px 12px; 
}
.card-image.clan-detail > .col-8{
    border-radius: 20%;
}
.location-clan-card-details{
    border-radius: 8px 8px 8px 0;
}
.character-details .card-body {
    border-radius: 12px 12px 12px 0;
}
.title-dashboard-container-header .image-messenger-container img {
    border-radius: 0;
}
.illustration-background .background-fiction-contain, .opacity-container{
    border-radius: 20px;
}
.menu-left,
#quest-by-id .quest-details, #quest-by-id .interactive-elements .clickable,
#accueil .col-md-5, #accueil #summary-container p {
    border-radius: 8px;
}
.number-page-container {
    border-radius: 0.25rem;
}
.message__bubble {
    border-radius: 10px;
}
.dashboard-max-card-container {
    border-radius: 10px;
}
#book-container.dashboard-max-card-container {
    border-radius: 10px;
}
.chapter-image-content {
    border-radius: 1rem 0 0 1rem;
}
.chapter-text-content {
    border-radius: 0 3rem 3rem 0;
}
.preview-image {
    border: 1px solid #ddd;
    border-radius: 5px;
}
.bubble-dialog {
    border-radius: 15px;
}
.single-timeline-area .timeline-date::before {
    border-radius: 50%;
}
.single-timeline-area .single-timeline-content {
    border-radius: 6px;
    border: 1px solid  rgba(var(--main-white), 1);
}
/* .single-timeline-area .single-timeline-content .timeline-icon {
    border-radius: 50%;
} */
#accueil .accueil-image-one, #accueil .accueil-image-two, #accueil .accueil-image-tree{
    border-radius: 50%;
  }
/* Border Solide */

.col-left, .col-middle{
    border-right: 1px solid rgba(var(--middle-green-01), 1);
}

.btn-primary {
    border: 1px solid rgba(var(--middle-green-01), 1);
}
.btn-primary:hover, .name-characatrer-link .btn:hover,
.btn-primary.file-character-btn, .btn:first-child:active {
    border: 1px solid rgba(var(--dark-green-01), 1);
}
.btn-primary.file-character-btn:hover {
    border: 1px solid rgba(var(--clear-green-02), 1);
}
.user-info-text img{
    border: 8px solid rgba(var(--active-hover), 1);
}
/* .dashboard-card-header .avatar-wrapper img {
    border: 4px solid rgba(var(--active-hover), 1);
} */
.clan-card, .character-card.card .card-image {
    border: 6px solid rgba(var(--middle-green-02), 1);
}

.fiction-card .card-header {
    border-bottom: rgba(var(--clear-green-02), 0);
}
#original-characters-list.border {
    border: none
}

.card {
    border: none;
}

.form-control-dark {
    border-color: var(--bs-gray);
}
.form-control-dark:focus {
    border-color: rgba(var(--main-black), 1);
}


/* PAGINATION */


.pagination .page-link, .pagination .page-link:hover{
    border: 1px solid rgba(var(--dark-green-01),1);
}
.character-illustration-container{
    border: 4px solid rgba(var(--clear-green-02), 1);
}  

.dice .face {
    border: 2px solid rgba(var(--main-black), 1);
}
/* Fiction chapter */

.rond-image-illustration img {
    border: 4px solid rgba(var(--active-hover), 1);
}
/* Jeu de l'Oie */

#goose-game .game-map-container {
    border: 1px solid rgba(var(--main-black), 1);
}
#goose-game  .game-square {
    border: 1px solid rgbargba(var(--main-black), 0.2);    
    box-sizing: border-box;
}

.avatar-gamer{
    border: rgba(var(--clear-green-02), 1) 5px solid;
}
.bubble-dialog:after {
    border-width: 0 100px 100px 0;
    border-style: solid;
    border-color: rgba(var(--main-white), 1) transparent;    
}
/* Accueil */



  .form-signin input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}