@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../variables.scss';

/* BUTTON */
.btn-primary {
    background-color: rgba(var(--middle-green-01), 1);
}
.btn-primary:hover,
.name-characatrer-link .btn:hover,
.btn-primary.file-character-btn {
    background-color: rgba(var(--dark-green-01), 1);
    color: rgba(var(--active-hover), 1);
}
.btn-primary.file-character-btn {
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn-primary.file-character-btn:hover {
    background-color: rgba(var(--clear-green-01), 1);
    transform: scale(1.05);
}
.btn:first-child:active{
    color: rgb(var(--main-white), 1);
    background-color: rgb(var(--dark-green-01), 1);
}
.search-fiction-button, .back-my-all-fictions-button, .back-all-fictions-button{
    margin: -5vh 2vh 0 0;
}
.btn-create-chapter-button {
    margin: -5vh 0 0 0;
}
.back-to-fiction-btn-container{
    margin: -1rem 0 0 2rem;
}
.btn.btn-primary.edit-summary-btn{
    margin: -7vh 0 0 0;
}
.btn.btn-primary.margin-15vh{
    margin: 0 0 0 -15vh;
}
.col-btn-container .btn.btn-primary{
    margin: 0 0 0 151vh;
}