@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../variables.scss';

.game{
    height: 75vh;
}
.character-details.card::before {
    content: var(--cat-corner);
    position: absolute;
    top: -2%;
    left: 94%;
    z-index: 99999;
}
.character-container-global {
    width: 185vh;
    padding: 1rem;
}
.character-card.card {
    margin: 1rem 1rem 0 0;
    width: 20rem;
    height: 40rem;
    min-width: 20rem;
    padding: 0rem 1rem 1rem 1.5rem;
}
.card-character-container{
    margin: 0 0.5rem 0.5rem 0.5rem;
    width: 19rem;
    height: 20rem;
}
#all-characters-container-card .character-card.card {
    margin: 1rem 2rem 0 2rem;
    width: 37vh;
    min-width: 35vh;
    padding: 0rem 1rem 1rem 0.5rem;
    max-width: 17rem;
    height: 37vh;
    border-radius: 8rem 8rem 2rem 2rem;
    overflow: hidden;
}
.clan-detail-card {
    width: 80rem;   
    background-position: 50%;
    margin: 5rem 0 0 0;
}
.card-image img {
    width: 75%;
}
.height-character{
    height: 5rem
}
.dashboard-max-card-container, .character-details-chatper.card,.profil-user-card, .admin-dashboard{
    margin: 2rem;
}
.dashboard-max-card-container.card.one-quest-container,
.dashboard-max-card-container.one-quest-container{
    margin: 1rem 0 1rem 1rem;
}
.fiction-globale-container.card.fiction-container {
    margin: 1rem 1rem 2rem 1rem;
    height: 90vh;
}
.cat-corner::before
.dashboard-max-card-container::before,
.fiction-globale-container::before,
.character-card.card::before,
.display-flex-row.card-group.clan-group .card.location-clan-background-width-container::before {
    content: var(--second-cat-corner);
    width: 10px;
    height: 10px;
    position: relative;
    top: 4rem;
    left: 95%;
    transform: scale(0.45);
}
.dashboard-max-card-container::before{
    top: -1rem;
    left: 96%;
}
.character-card.card::before{
    top: -2rem;
    left: 75%;
}
.display-flex-row.card-group.clan-group .card.location-clan-background-width-container::before {
    left: 66%;
    top: -2rem;
}
.display-flex-row.card-group.clan-group
.character-card.card::before {
    top: -1rem;
    left: -20%;
    transform: scale(.5);
}
/* Character Details */
.character-details {
    margin: 0rem 1rem 0 2rem;
    width: 183vh;
    height:95vh;
    background: none;
    padding: 1rem;
    perspective: 5rem;
}
.character-details.card .card-image img {
    width: 75%;
    overflow: hidden;
}
.clan-card {
    width: 15rem;
    height: 15rem;
    border-radius: 70% 70% 0 0;
    background-position: 50%;
    border: 6px solid rgba(var(--middle-green-02), 1);
    background-color: rgba(var(--dark-green-02), 1);
    margin: 0.25rem 0 0 1rem;
}
.card-image-layout {
    width: 95rem;
    margin: 4rem 0 0 3rem;
}
.clan-detail-layout .card-body {
    height: 69.5vh;
}
.clan-detail-layout .card-body.location-clan-body {
    height: 77vh;
}
.location-clan-card-details-body{
    height: 44vh;
}
.image-illustration-right{
    border-radius: 20% 0 0 20%;
    border : 1rem solid rgba(var(--clear-green-01), 1);
}
.border-card-color{
    height: 87.5vh;
}
.clan-detail-card.image-illustration-right.border-card-color{
    height: 79.5vh;
}
.clans-location-container {
    margin: 1rem auto;
    padding: 5rem 0 0 8rem;
}
.character-card.card .card-image {
    height: 30vh;
    width: 33vh;
    margin: 0.75rem 0 0 0;
    border-radius: 100% 100% 0 0;
    border: 6px solid rgba(var(--clear-green-02), 1);
}
.character-container h3 {
    font-variant: small-caps;
}
.card.card-image-layout.clan-detail-layout.mb-3 {
    width: 180vh;
    border-radius: 20px 0 0 20px;
    background: none;
}
.card.card-image-layout.clan-detail-layout.mb-3 .card-image-layout {
    width: 95rem;
    margin: 4rem 0 0 3rem;
}
/* USER */

.avatar-container,
.avatar-container img {
    width: 100px;
    height: 100px;
}
.profil-user-card.card .avatar-container img {
    width: 200px;
    height: 250px;
}
.dashboard-home-max-card-container .avatar-container {
    width: 5vh;
    height: 5vh;
    margin-top: -1.5rem;
}
.form-profil-user-card {
    margin-top: 3rem;
    height: 20vh;
}
.all-clans-cards .card-body {
    height: 35vh;
}
.character-details .col-md-4 {
    padding-top: 3vh;
}
.card-form-create-character {
    margin: 2rem 0 2rem 2rem;
    padding: 2rem;
    height: 90vh;
}
.form-first-part-container .col-md-6 {
    height: 10vh;
}
.bottom-top-dashboard .card {
    height: 35vh;
}
.fiction-card .card-header {
    border-bottom: rgba(var(--clear-green-02), 0);
    font-family: var(--montserratRegular);
    font-size: 18px;
    z-index: 9999;
    margin-left: 1rem;
    font-variant: small-caps;
}
.clan-group .card-body {
    height: 9rem;
}
.card-group.clan-group .card, .avatar-gamer, .quest-container,
.summary-container, #quest-by-id, #quest-by-id .quest-by-id-card.card.quest-by-id-card.background-color-main-lineart {
    margin: 1rem;
}
.row.top-dashboard .card {
    height: 28rem;
}
/* .row.bottom-dashboard-levele-one .card {
    height: 40rem;
    margin: 0rem 0.25rem 0 -1.2rem;
} */
.row.bottom-dashboard-levele-one .card.gamer-character-card{
    height: 17rem;
}
.row.bottom-dashboard-levele-one .card.random-characters-card{
    height: 23rem;
}
.row.bottom-dashboard-levele-one .card.last-book-container{
    height: 18rem;
    margin: 0rem 0.5rem 0 0.2rem;
}
.row.bottom-dashboard-levele-one .card.all-fictions-card,
.row.bottom-dashboard-levele-one .card.game-container
{
    height: 43rem;
} 
.random-characters-card .card-body{
    flex-wrap: wrap;
}
.my-oc-character-container{
    margin: 0 0.5rem;
}
.game-container .card-boy > div > div .display-flex-column.align-items-content-justify-content{
    padding: 1rem;
}
.list-all-fictions-globale--container.list-all-fictions-globale--container{
    width: 30rem;
}
.list-all-fictions-globale--container.three-last-chapters-container{
    margin: 1rem 0 0 0;
    width: 20rem;
}
.summaray-title-text.flex-one.align-items-content-justify-content{
    width: 25rem;
}
li.quest-container {
    margin: 0 0.25rem;
}
.quest--global-container {
    flex: 0.25;
    height: 18rem;
}
.quest-container {
    height: 16rem;
    width: 19rem;
}
.quest-image-container,
.background-image-quest-image-container {
    background-position: 50% 55%;
    vertical-align: top;
}
.background-image-quest{
    height: 16rem;
    background-position: 50% 45%;
}
.card-img-top.background-image-quest-image-container {
    height: 10rem;
}
.card-body.one-quest {
    height: 13rem;
    width: 10rem;
}
.card-img-top.background-image-quest-image-container img {
    width: 75%;
}
.quest-button-text {
    height: 12rem;
    margin: 1rem 0 0 0;
}
.quest-button-text p {
    height: 9rem;
}

.quest-details {
    margin-top: 20px;
}
.reward-message {
    color: rgba(var(--main-green), 1);
    font-weight: bold;
    margin-top: 20px;
}
.parallax-container {
    position: relative;
    height: 400px;
    overflow: hidden;
}
.parallax-layer {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.1s ease-out;
}
.display-flex-column button{
    height: 3rem;
    margin: 0.5rem 0;
}
.buttons-container{
    margin: 0.25rem;
}
.indivual-caracter-container {
    width: 110px;
}
.card-image img {
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.card-image img:hover {
    transform: scale(1.05);
}
.details-infos-characters {
    box-shadow: 0 4px 8px rgba(var(--main-black), 0.1);
    border-radius: 10px;
    padding: 15px;
}
.card-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
}

.row.list-quest-card-container{
    height: 35rem;
}

.accordion-button.collapsed,
.accordion-item:first-of-type>.accordion-header .accordion-button,
.accordion-button:not(.collapsed),
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed,
.accordion-button:focus{
    background-color: rgb(var(--clear-green-02), 0.6);
}
.table.table-borderless{
    width: 25rem;
}
#original-characters-list .card-group {
    flex-flow: row wrap;
    width: 17rem;
}
.card-body.user-info-text{
    padding: 0 1rem 0 1rem;
}
/* SPECIFIC */

#original-characters-list .border-card-color,
#original-characters-list .card.individual-character-card{
    margin: 0.5rem;
    height: 20em;    
    border-radius: 100% 100% 12px 12px;
    background-position: 50%;
    aspect-ratio: 1;
    border: 6px solid rgba(var(--clear-green-01), 1);
}

#original-characters-list .card.individual-character-card {
    background-color: rgba(var(--dark-green-01), 1);
    border: rgba(var(--dark-green-01), 1) 5px solid;
 }
#original-characters-list  .card.individual-character-card{
    border-radius: 46% 46% 12px 12px; 
}
.avatar-gamer{
    width: 200px;
    height: 150px;
}
#original-characters-list{
    margin: 0rem 2rem;
    padding-top: 0rem;
    height: 87vh;
    overflow-y: hidden;
    padding: 2rem 0 0 0;
}
#original-characters-list.border {
    border: none
}
.card-text{
    padding: 1.5rem;
}
.clan-detail-layout .card-image img{
    width: 150%;
    position: relative;
    top: 5rem;
}
.clan-detail-card > .col-2{
    margin: 0 2rem;;
}
.card-image.clan-detail > .col-8{
    border-radius: 20%;
}
.fiction-globale-container ul{
    width: 28rem;
    margin: 0 0 1rem 0;
}
.row.top-dashboard .card-body > div{
    margin: 0 0 0.25rem 0;
    width: 57vh;
}
.character-l1{
    width: 110px;
}
.fiction-container .card-body{
    padding: 1rem;
}
.summaray-title-text p{
    margin: 0.25rem 0 0.25rem 0;
    line-height: 0.95;
    text-align: left;
}
.fiction-container .card-body{
    height: 80vh;
}
.login-card .card-body{
    height: 15rem;
}

.card .last-book-container{
    height: 20rem;
}
.my-oc-card .card-body{
    padding: 0;
    height: 10rem;
}
.row.middle-dashboard .card-global{
    margin: 0 2rem 0 1rem;
}
.title-container-card{
    width: 21vh;
}
.fiction-summary-card .col-8{
    padding: 0.5rem;
}
.height-all-fictions-container .col{
    margin: 0.25rem 0;
}