@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../variables.scss';

.character-details.card::before {
    content: var(--cat-corner);
    position: absolute;
    top: -2%;
    left: 94%;
    z-index: 99999;
}
.character-container-global, .fiction-container .card-body,.character-details,
.game-container .card-boy > div > div .display-flex-column.align-items-content-justify-content {
    padding: 1rem;
}
.character-card.card {
    margin: 1rem 1rem 0 0;
    padding: 0rem 1rem 1rem 1.5rem;
}
.card-character-container{
    margin: 0 0.5rem 0.5rem 0.5rem;
}
#all-characters-container-card .character-card.card {
    margin: 1rem 0rem 0 2rem;
    padding: 0rem 1rem 1rem 0.5rem;
    overflow: hidden;
}
.clan-detail-card {
    background-position: 50%;
    margin: 5rem 0 0 0;
}
.dashboard-max-card-container, .character-details-chatper.card,.profil-user-card, .admin-dashboard{
    margin: 2rem;
}
.dashboard-max-card-container.card.one-quest-container,
.dashboard-max-card-container.one-quest-container{
    margin: 1rem 0 1rem 1rem;
}
.fiction-globale-container.card.fiction-container {
    margin: 1rem 1rem 2rem 1rem;
}
.cat-corner::before
.dashboard-max-card-container::before,
.fiction-globale-container::before,
.character-card.card::before,
.display-flex-row.card-group.clan-group .card.location-clan-background-width-container::before {
    content: var(--second-cat-corner);
    position: relative;
    top: 4rem;
    left: 95%;
    transform: scale(0.45);
}
.dashboard-max-card-container::before{
    top: -1rem;
    left: 96%;
}
.character-card.card::before{
    top: -2rem;
    left: 75%;
}
.display-flex-row.card-group.clan-group .card.location-clan-background-width-container::before {
    left: 66%;
    top: -2rem;
}
.display-flex-row.card-group.clan-group
.character-card.card::before {
    top: -1rem;
    left: -20%;
    transform: scale(.5);
}
/* Character Details */
.character-details {
    margin: 0rem 1rem 0 0;
    background: none;
}
.character-details.card .card-image img {
    overflow: hidden;
}
.clan-card {
    background-position: 50%;
    background-color: rgba(var(--dark-green-02), 1);
    margin: 0.75rem 0 0 1rem;
}
.card-image-layout {
    margin: 4rem 0 0 3rem;
}
.middle-dashboard{
    margin: 0 0 1rem 1rem;
}
.clans-location-container {
    margin: 0 auto;
    padding: 2rem 0 0 4rem;
    overflow-y: hidden;
}
.character-card.card .card-image {
    margin: 0.75rem 0 0 0;
}
.character-container h3 {
    font-variant: small-caps;
}
.card.card-image-layout.clan-detail-layout.mb-3 {
    background: none;
}
.card.card-image-layout.clan-detail-layout.mb-3 .card-image-layout {
    margin: 4rem 0 0 3rem;
}
/* USER */
.dashboard-home-max-card-container .avatar-container {
    margin-top: -1.5rem;
}
.character-details .col-md-4 {
    padding-top: 3vh;
}
.card-form-create-character {
    margin: 2rem 0 2rem 2rem;
    padding: 2rem;
}
.fiction-card .card-header {
    font-family: var(--montserratRegular);
    font-size: 18px;
    z-index: 9999;
    margin-left: 1rem;
    font-variant: small-caps;
}
.card-group.clan-group .card, .avatar-gamer, .quest-container,
.summary-container, #quest-by-id, #quest-by-id .quest-by-id-card.card.quest-by-id-card.background-color-main-lineart,
.row.bottom-dashboard-levele-one-level-two {
    margin: 1rem;
}
.quest-container{
    margin: 1rem -1rem 0 0;
}
.row.bottom-dashboard-levele-one .card.last-book-container{
    margin: 0rem 0.5rem;
}
.random-characters-card .card-body{
    flex-wrap: wrap;
}
.my-oc-character-container{
    margin: 0 0.5rem;
}
.list-all-fictions-globale--container.three-last-chapters-container{
    margin: 1rem 0 0 0;
}
li.quest-container {
    margin: 0 0.25rem;
}
.quest--global-container {
    flex: 0.1;
}
.quest-image-container, .background-image-quest-image-container {
    background-position: 50% 55%;
    vertical-align: top;
}
.background-image-quest{
    background-position: 50% 45%;
}
.quest-details {
    margin-top: 20px;
}
.reward-message {
    color: rgba(var(--main-green), 1);
    font-weight: bold;
    margin-top: 20px;
}
.parallax-container {
    position: relative;
    overflow: hidden;
}
.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.1s ease-out;
}
.display-flex-column button{
    margin: 0.5rem 0;
}
.buttons-container{
    margin: 0.25rem;
}
.card-image img {
    transition: transform 0.3s ease;
}
.card-image img:hover {
    transform: scale(1.05);
}
.details-infos-characters {
    box-shadow: 0 4px 8px rgba(var(--main-black), 0.1);
    padding: 15px;
}
.card-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.all-characters-by-user-container .card-title, .information-character-container p{
    color: rgba(var(--main-white), 1)
}
.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
}
.accordion-button.collapsed,
.accordion-item:first-of-type>.accordion-header .accordion-button,
.accordion-button:not(.collapsed),
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed,
.accordion-button:focus{
    background-color: rgb(var(--clear-green-02), 0.6);
}
#original-characters-list .card-group {
    flex-flow: row wrap;
}
.card-body.user-info-text{
    padding: 0;
}
/* SPECIFIC */

#original-characters-list .border-card-color
{
    margin: 0.5rem;
    background-position: 50%;
    aspect-ratio: 1;
}
#original-characters-list .card.individual-character-card{
    margin: 0.5rem;
    background-position: 50%;
    aspect-ratio: 1;
    background-color: rgba(var(--dark-green-01), 1);

}
.individual-character-card .card-body {
    margin: -0.5rem 0 0 0;
}
#original-characters-list{
    margin: -10rem 0 0 0rem;
    overflow-y: hidden;
    padding: 0;
}

.card-text{
    padding: 1.5rem;
}
.clan-detail-layout .card-image img{
    position: relative;
    top: 5rem;
}
.clan-detail-card > .col-2{
    margin: 0 2rem;
}
.fiction-globale-container ul{
    margin: 0 0 1rem 0;
    overflow-y: auto;
}
.row.top-dashboard .all-my-oc-card .card-body > div{
    margin: 0 0 0.25rem 0;
}
.row.top-dashboard .card-body.user-info-text > div{
    margin: 0 0 0.25rem 0;
}
.summaray-title-text p{
    margin: 0.25rem 0 0.25rem 0;
    line-height: 0.95;
    text-align: left;
    font-family: 'Open Sans';
}
.summaray-title-text p span.text-white .text-white.text-align-justify.poppins-text p{
    font-size: 0.85em;
}
.my-oc-card .card-body{
    padding: 0;
    margin: -8vh 0 0 0;
}
.row.middle-dashboard .card-global{
    margin: 0 2rem 0 1rem;
}
.title-container-card{
    margin: -0.5rem 0 0 0;
}
.fiction-summary-card .col-8{
    padding: 0.5rem;
}
.height-all-fictions-container .col{
    margin: 0;
}
.last-chapter-card.card-body{
    margin: -1rem 0 0 0;
}
/* .clan-detail-card.image-illustration-right.border-card-color{
    display: flex;
    flex: 0.25;
} */
.clan-detail-layout .card-body .text-align-justify.poppins-text{
    overflow-y: scroll;
}