@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../variables.scss';

.game{
    height: 75vh;
}
.character-details.card::after {
    content: var(--cat-corner);
    position: absolute;
    top: -2%;
    left: 94%;
    z-index: 99999;
}
.character-container-global {
    width: 185vh;
    padding: 1rem;
}
.character-card.card {
    margin: 1rem 1rem 0 0;
    width: 20rem;
    height: 40rem;
    min-width: 20rem;
    padding: 0rem 1rem 1rem 1.5rem;
    text-align: center;
}
.card-character-container{
    margin: 0 4rem 2rem 2rem;
    width: 15rem;
    height: 20rem;
}
#all-characters-container-card .character-card.card {
    margin: 1rem 2rem 0 2rem;
    width: 10rem;
    min-width: 17rem;
    padding: 0rem 1rem 1rem 0.5rem;
    text-align: center;
    max-width: 17rem;
    height: 20rem;
    border-radius: 8rem 8rem 2rem 2rem;
}
.clan-detail-card {
    width: 80rem;   
    background-position: 50%;
    margin: 5rem 0 0 0;
}
.card-image img {
    width: 75%;
}
.details-infos-characters {
    color: rgba(var(--main-white), 1)
}
.dashboard-max-card-container.card {
    margin: 1rem 2rem 1rem 2rem;
    padding: 2rem;
    height: 53rem;
    overflow-y: hidden;
    overflow-x: hidden;
}
.dashboard-max-card-container.card.padding-zero{
    padding: 0;
}
.form-character-container-global .card {
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 1), rgba(var(--clear-green-02), 1));
    margin: 3rem 0 0 0;
    width: 105rem;
    min-width: 105rem;
    padding: 0rem;
    height: 53rem;
    overflow-y: hidden;
    overflow-x: hidden;
}
.dashboard-home-max-card-container.card {
    background: none;
    margin: 0;
    width: 101%;
    padding: 1rem;
    height: 100%;
}
.fiction-globale-container.card.fiction-container {
    margin: 3rem 5rem 2rem 1rem;
    width: 105rem;
    min-width: 105rem;
    padding: 0rem;
    height: 51rem;
    overflow-y: hidden;
    overflow-x: hidden;
}
.dashboard-home-max-card-container .row .card {
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 1), rgba(var(--middle-green-02), 1));
    position: relative;
}
.dashboard-max-card-container.card.fiction-container {
    margin: 5rem 2rem 2rem 2rem;
    height: 85vh;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
}
.dashboard-max-card-container::before,
.fiction-globale-container::before,
.character-card.card::before,
.display-flex-row.card-group.clan-group .card.location-clan-background-width-container::before {
    content: var(--second-cat-corner);
    width: 10px;
    height: 10px;
    position: relative;
    top: -4rem;
    left: 90%;
    transform: scale(.5);
}
.display-flex-row.card-group.clan-group .card.location-clan-background-width-container::before {
    left: 80%
}
.display-flex-row.card-group.clan-group
.character-card.card::before {
    top: -1rem;
    left: -20%;
    transform: scale(.5);
}
/* Character Details */
.character-details {
    margin: 5rem 1rem 0 2rem;
    width: 100rem;
    height: 51rem;
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 0) 0%, rgba(var(--clear-green-02), 0) 100%);
    padding: 1rem 1rem 1rem 1rem;
    perspective: 5rem;
}
.character-details.card .card-image img {
    width: 75%;
    overflow: hidden;
}
.clan-card {
    width: 20rem;
    height: 20rem;
    border-radius: 70% 70% 0 0;
    background-position: 50%;
    border: 6px solid rgba(var(--middle-green-02), 1);
    background-color: rgba(var(--dark-green-02), 1);
    margin: 0.25rem 0 0 1rem;
}
.card-image-layout {
    width: 95rem;
    margin: 4rem 0 0 3rem;
}
.clan-detail-layout .card-body {
    height: 44em;
    flex:1;
}
.clans-location-container {
    margin: 1rem auto;
    padding: 5rem 0 0 8rem;
}
.character-card.card .card-image {
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    border-radius: 100% 100% 0 0;
    border: 6px solid rgba(var(--clear-green-02), 1);
}
.character-container h3 {
    font-variant: small-caps;
}
.card.card-image-layout.clan-detail-layout.mb-3 {
    width: 100rem;
    border-radius: 20px 0 0 20px;
    background: none;
}
.card.card-image-layout.clan-detail-layout.mb-3 .card-image-layout {
    width: 95rem;
    margin: 4rem 0 0 3rem;
}
.card.card-image-layout.title-chapter-container.mb-3 .card-body {
    height: 50rem;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
}
/* USER */

.avatar-container,
.avatar-container img {
    width: 100px;
    height: 100px;
}
.profil-user-card.card .avatar-container img {
    width: 200px;
    height: 250px;
}
.dashboard-home-max-card-container .avatar-container {
    width: 5vh;
    height: 5vh;
    margin-top: -1.5rem;
}
.form-profil-user-card {
    margin-top: 3rem;
    height: 20vh;
}
.all-clans-cards .card-body {
    height: 35vh;
}
.character-details .col-md-4 {
    padding-top: 14vh;
}
.card-form-create-character {
    margin: 2rem 0 0 2rem;
    padding: 2rem;
    height: 180vh;
    overflow: scroll;
}
.form-first-part-container {
    overflow: hidden;
}
.form-first-part-container .col-md-6 {
    height: 10vh;
}
.form-second-part-container {
    height: 80vh;
    overflow-y: scroll;
}
.dashboard-max-card-container.card.fiction-container div.col-sm-4.mb-4.mb-sm-0 {
    margin: 0;
}
.bottom-top-dashboard .card {
    height: 35vh;
}
.fiction-card .card-header {
    border-bottom: rgba(var(--clear-green-02), 0);
    font-family: var(--montserratRegular);
    font-size: 18px;
    z-index: 9999;
    margin-left: 2rem;
    font-variant: small-caps;
}
.clan-group .card-body {
    height: 9rem;
}
.clan-description {
    padding: 0;
}
.clan-description p {
    text-align: justify;
}
.card-group.clan-group .card {
    margin: 1rem;
}
.row.top-dashboard .card {
    height: 28rem;
}
.row.bottom-dashboard .card {
    height: 19rem;
}
li.quest-container {
    margin: 0 1rem;
}
.quest-container {
    margin: 1rem;
}
.quest-title {
    width: 100%;
    height: 2rem;
    flex: 0.25;
    text-align: center;
}
.quest--global-container {
    flex-wrap: wrap;
    flex: 0.25;
    height: 20rem;
}
.quest-container,
.quest--global-container p,
.quest-image-container,
.background-image-quest-image-container {
    flex-wrap: wrap;
}
.quest-container {
    height: 20rem;
    width: 20rem;
}
.quest-image-container,
.background-image-quest-image-container {
    background-position: 50% 55%;
    vertical-align: top;
}
.background-image-quest{
    height: 8rem;
    background-position: 50%;
}
.card-img-top.background-image-quest-image-container {
    height: 10rem;
}
.one-quest-container .card-header {
    width: 100%;
}
.card-body.one-quest {
    height: 25rem;
}
.card-img-top.background-image-quest-image-container img {
    width: 75%;
}

.quest-button-text {
    height: 12rem;
    vertical-align: middle;
    align-items: center;
}
.quest-button-text p {
    height: 9rem;
}
.quest-button-text .btn.btn-primary {
    width: 10rem;
}
.quest-details {
    text-align: center;
    margin-top: 20px;
}
.reward-message {
    color: green;
    font-weight: bold;
    margin-top: 20px;
}
.parallax-container {
    position: relative;
    height: 400px;
    overflow: hidden;
}
.parallax-layer {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.1s ease-out;
}
.display-flex-column button{
    height: 3rem;
}
.buttons-container{
    margin: 0.25rem;
}
.one-quest-container .pagination-container {
    margin: 3rem 0 0 0;
}
.indivual-caracter-container {
    width: 110px;
}
.card-image img {
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.card-image img:hover {
    transform: scale(1.05);
}
.details-infos-characters {
    box-shadow: 0 4px 8px rgba(var(--main-black), 0.1);
    background-color: rgba(var(--main-white), 0.8);
    border-radius: 10px;
    padding: 15px;
}
.card-title {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
}
.btn-primary.file-character-btn {
    background-color:  rgb(var(--clear-green-02), 0.6);
    border-color:  rgb(var(--clear-green-02), 0.6);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn-primary.file-character-btn:hover {
    background-color:  rgb(var(--clear-green-02), 0.6);
    transform: scale(1.05);
}
.accordion-button.collapsed,
.accordion-item:first-of-type>.accordion-header .accordion-button,
.accordion-button:not(.collapsed),
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed,
.accordion-button:focus{
    background-color: rgb(var(--clear-green-02), 0.6);
}
.table.table-borderless{
    width: 25rem;
}
#original-characters-list .card-group {
    flex-flow: row wrap;
    width: 20rem;
}
.card-body.user-info-text{
    padding: 0 0 0 0.5rem
}
/* SPECIFIC */
.border-card-color{
    height: 40rem;
    flex: 1;
    border-radius: 20% 0 0 20%;
    border-top: 1rem solid rgba(var(--clear-green-02), 1);
    border-bottom: 1rem solid rgba(var(--clear-green-02), 1);
    border-left: 1rem solid rgba(var(--clear-green-02), 1);
}
#original-characters-list .border-card-color,
#original-characters-list .card.individual-character-card{
    margin: 0.5rem;
    height: 20em;    
    border-radius: 100% 100% 0 0;
    background-position: 50%;
    aspect-ratio: 16 / 9;
    border: 6px solid rgba(var(--clear-green-02), 1);
}

#original-characters-list  .card.individual-character-card {
    background-color: rgba(var(--dark-green-01), 1);
    border: rgba(var(--dark-green-01), 1) 5px solid;
 }
#original-characters-list  .card.individual-character-card{
    border-radius: 45% 45% 20% 20%; 
}
.avatar-gamer{
    width: 200px;
    height: 150px;
    margin: 1rem;
}
#original-characters-list{
    margin:00;
    padding-top: 7rem;
    height: 83vh;
}
#original-characters-list.border {
    border: none
}
.card-text.summary-text-font{
    height: 3rem;
}
.summary-container,.card-text p{
    text-align: justify;
}
.card-text{
    padding: 1.5rem;
}
.clan-detail-layout .card-image img{
    width: 150%;
    position: relative;
    top: 5rem;
}
.clan-detail-card > .col-2{
    margin: 0 2rem;;
}
.card-image.clan-detail > .col-8{
    border-radius: 20%;
}
.fiction-globale-container ul{
    width: 30rem;
    margin: 0 0 1rem 0;
}