@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../variables.scss';
/* Background-color */
.background-color-main-lineart{
    background: var(--lineart-other00);
}
.background-lineart{
    background: var(--lineart-other00);
}
.background-lineart-other03{    
  background: var(--lineart-other03);
}
.background-color-white{
    background-color: rgba(var(--main-white), 1);
}
.background-color-clear-green-01{
    background-color: rgba(var(--clear-green-01), 1);
}
.background-color-clear-green-02{
    background-color: rgba(var(--clear-green-02), 1);
}
.background-color-middle-green-01{
    background-color: rgba(var(--middle-green-01), 1);
}
.background-color-middle-green-02{
    background-color: rgba(var(--middle-green-02), 1);
}
.background-color-dark-green-01{
    background-color: rgba(var(--dark-green-01), 1);
}
.background-color-dark-green-02{
    background-color: rgba(var(--dark-green-02), 1);
}
.background-color-ternary-green{
    background-color: rgba(var(--ternary-green), 1);
}
.background-color-active{
    background-color: rgba(var(--active-hover), 1);
}
/*  Color */
.white-text{
    color: rgba(var(--main-white), 1)
}
.black-text{
    color: rgba(var(--main-black), 1)
}
.color-clear-green-01{
    color: rgba(var(--clear-green-01), 1);
}
.color-clear-green-02{
    color: rgba(var(--clear-green-02), 1);
}
.color-middle-green-01{
    color: rgba(var(--middle-green-01), 1);
}
.color-middle-green-02{
    color: rgba(var(--middle-green-02), 1);
}
.color-dark-green-01{
    color: rgba(var(--dark-green-01), 1);
}
.color-dark-green-02{
    color: rgba(var(--dark-green-02), 1);
}
.color-ternary-green{
    color: rgba(var(--ternary-green), 1);
}