@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../variables.scss';

.game{
    height: 75vh;
}
.character-container-global {
    width: 185vh;
}
.character-card.card, .list-all-fictions-globale--container.three-last-chapters-container {
    width: 20rem;    
}
.character-card.card {
    height: 40rem;
    min-width: 20rem;
}
.card-character-container,
#all-characters-container-card .character-card.card,
.card-image img.image-book,
.title-container-card{
    width: 25vh;
}
#all-characters-container-card .character-card.card {
    min-width: 25vh;
    max-width: 25vh;
    height: 32vh;
}
.clan-detail-card {
    width: 80rem;   
}
.card-image img {
    width: 60%;
}
.height-character{
    height: 5rem
}
.fiction-globale-container.card.fiction-container,
.card-form-create-character, .fiction-globale-container ul {
    height: 90vh;
}
.cat-corner::before
.dashboard-max-card-container::before,
.fiction-globale-container::before,
.character-card.card::before,
.display-flex-row.card-group.clan-group .card.location-clan-background-width-container::before {
    width: 10px;
    height: 10px;
}
.character-details {
    width: 183vh;
    height: 95vh;
}
.character-details.card .card-image img {
    width: 75%;
}
.clan-card {
    width: 15rem;
    height: 15rem;
}
.card-image-layout {
    width: 95rem;
}
.clan-detail-layout .card-body {
    height: 69.5vh;
}
.clan-detail-layout .card-body.location-clan-body {
    height: 77vh;
}
.location-clan-card-details-body{
    height: 44vh;
}
.border-card-color{
    height: 87.5vh;
}
.clan-detail-card.image-illustration-right.border-card-color{
    height: 74vh;
}
.character-card.card .card-image {
    height: 25vh;
    width: 23vh;
}
.card.card-image-layout.clan-detail-layout.mb-3 {
    width: 180vh;
}
.card.card-image-layout.clan-detail-layout.mb-3 .card-image-layout {
    width: 95rem;
}
.profil-user-card.card .avatar-container img {
    width: 30vh;
    height: 30vh;
}
.dashboard-home-max-card-container .avatar-container {
    width: 5vh;
    height: 5vh;
}
.form-profil-user-card {
    height: 20vh;
}
.all-clans-cards .card-body {
    height: 35vh;
}
.form-first-part-container .col-md-6 {
    height: 10vh;
}
.bottom-top-dashboard .card {
    height: 35vh;
}
.clan-group .card-body {
    height: 9rem;
}
.row.top-dashboard .card {
    height: 28rem;
}
.row.bottom-dashboard-levele-one .card.gamer-character-card{
    height: 17rem;
}
.row.bottom-dashboard-levele-one .card.random-characters-card{
    height: 23rem;
}
.row.bottom-dashboard-levele-one .card.last-book-container{
    height: 18rem;
}
.row.bottom-dashboard-levele-one .card.all-fictions-card,
.row.bottom-dashboard-levele-one .card.game-container
{
    height: 43rem;
}
.list-all-fictions-globale--container.list-all-fictions-globale--container{
    width: 30rem;
}
.summaray-title-text.flex-one.align-items-content-justify-content{
    width: 25rem;
}
.quest--global-container {
    height: 18rem;
}
.quest-container {
    height: 16rem;
    width: 19rem;
}
.background-image-quest{
    height: 16rem;
}
.card-img-top.background-image-quest-image-container {
    height: 10rem;
}
.card-body.one-quest {
    height: 13rem;
    width: 10rem;
}
.card-img-top.background-image-quest-image-container img {
    width: 75%;
}
.quest-button-text {
    height: 12rem;
    margin: 1rem 0 0 0;
}
.quest-button-text p {
    height: 9rem;
}
.parallax-container {
    height: 400px;
}
.card-image img.image-book{
    height: 30vh;
}
.row.list-quest-card-container{
    height: 35rem;
}
.table.table-borderless{
    width: 25rem;
}
#original-characters-list .card-group {
    width: 24vh;
}
#original-characters-list .border-card-color{   
    height: 35vh; 
}
#original-characters-list .card.individual-character-card{
    height: 30vh;
}
.avatar-gamer{
    width: 200px;
    height: 150px;
}
#original-characters-list{
    height: 87vh;
}
.clan-detail-layout .card-image img{
    width: 17vh;
}
.fiction-globale-container ul{
    width: 50vh;
}
.row.top-dashboard .card-body > div{
    width: 42vh;
}
.row.top-dashboard .all-my-oc-card .card-body > div{
    width: 20vh;
}
.row.top-dashboard .card-body.user-info-text > div{
    width: 44vh;
}
.character-l1{
    width: 110px;
}
.one-book-container-wrapper .fiction-container .card-body, #book-container .fiction-container .card-body{
    height: 60vh;
}
.login-card .card-body{
    height: 15rem;
}
.card .last-book-container{
    height: 20rem;
}
.my-oc-card .card-body{
    height: 10rem;
}
.parallax-layer {
    height: 100%;
}
.fiction-container .card-body{
    height: 80vh;
}