@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../variables.scss';

/* en VH */
.all-chapters-list-container {    
    max-height: 85vh;
}
.character-card.card {
    min-width: 30vh;
    max-width: 30vh;
}
.row.bottom-dashboard-levele-one .card.random-characters-card{
    width: 112vh;
}
.row.top-dashboard .card-body .title-text-novel{
    width: 42vh;
}
.rating svg {
    width: 1vh;
    height: 3vh
}
.title-text-novel p{
    width: 32vh;
}
.title-text-novel p a{
    width: 26vh;
}
/* .character-container {
    height: 95vh;
} */
/* .character-details .card-body {
    height: 95vh;
} */
.clan-detail-layout .card-header .row{
    width: 120vh;
}
.clan-detail-layout .card-header img{
    width: 8vh;
    height: 8vh;
}
.h5-container{
    height: 9vh;
}
.image-fiction-container-background{
    height: 17vh;
}
.game-container img{
    width: 6vh;
}
.rond-character-background{
    width: 14vh;
    height: 14vh;
}
.carousel__item img{
    width: 15vh;
}
.all-characters-by-user-container .card{
    height: 33vh;
}
.card.location-clan-background-width-container{
    width: 34vh;
    height: 35vh;
}
/* .all-fictions-container-global{
    height: 95vh;
} */
.flex-one .quest-button-text .btn.btn-primary{
    width: 18vh;
}
.location-clan-background-width-container .btn.btn-primary{
    max-width: 30vh;
}
#original-characters-list .name-characatrer-link .btn{
    height: 8vh;
    width: 30vh;
}
.fiction-container .card-header{
    height: 13vh;
}
.btn.btn-primary.btn-character-in-clan-detail{
    width: 14vh;
    height: 8vh;
}
.summary-height-container{
    height: 66vh;
}
/* NavNar en Vh */
#navbarCollapse {
    height: 14vh;
    width: 90vh;
}
.menu-level1 {
  height: 8vh;
  width: 8vh;
}
.avatar-navabar, .avatar-navabar img {
    width: 6vh;
    height: 6vh;
}
.logo-accueil-container{
    width: 18vh;
    height: 18vh;
}
#accueil .navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark{
    height: 15vh;
    width: 214vh;
}
.row-filter{
    height: 8vh;
}
.list-all-characters-container .row-filter{
    height: 10vh;
}
#accueil header {
    height: 14vh;
}
.mini-rond-messages{
    height: 4vh;
    width: 4vh;
}
#book-container.dashboard-max-card-container.card-height .card-body{
    height: 80vh;
}
/* Fiction */
.image-fiction-container {
    width: 10vh;
    height: 17vh;
}
.image-fiction-container.all-illustrations-fiction-container{
    height: 30vh;
}
.summary-container .middle-fiction-card .image-fiction-container{
    width: 50vh;
}
.carousel {
    height: 24vh;
}

#accueil li.nav-item{
    width: 40vh;
}
.illustration-background {
    width: 186vh;
    height: 80vh;
}
.row.bottom-dashboard-levele-one .card.all-fictions-card{
    height: 82vh;
}
.card.video{
    width: 74vh;
}
.card.arc-card.last-arc-container{
    width: 74vh;
}
.col-8.location-clan-card-details{
    height: 90vh;
}
.col-btn-container .btn.btn-primary{
    width: 38vh;
}
/* QUEST */
.one-quest h6{
    width: 18vh;
}
.list-quest-card-container .background-image-quest{
    height: 34vh;
}
.quest-container .card-header h6{
    height: 4vh;
}
/* .avatar-gamer{
    width: 15vh;
    height: 15vh;
} */
.card-body.one-quest {
    height: 32vh;
    width: 16vh;
}
.login-card .card-body{
    height: 30vh;
}
.summmary-book-height-dashboard{
    height: 18vh;
}
.title-dashboard-container-header {
    height: 12vh;
}
.icon-menu-container img {
    width: 3.5vh;
}