@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../variables.scss';

/* en VH */

.fiction-container{    
    width: 186vh;
}
.create-character-form-modal{
    width: 138vh;
    height: 50vh;
}
.modal-footer{
    height: 10vh;
}
.row.list-quest-card-container{
    width: 185vh;
}
.user-information-container .mini-rond-avatar-image,
.user-information-container .rond-image-illustration img
.character-card.card .card-image{
    width: 25vh;
    height: 25vh;
}
.row.bottom-dashboard-levele-three .card, .row.bottom-dashboard-levele-three .card .card-body{
    height: 38vh;
}
.middle-dashboard{
    width: 192vh;
}
.height-all-fictions-container{
    height: 75vh;
}
.global-container {
    height: 98v
}
.game, .clan-detail-card.image-illustration-right.border-card-color,
.all-characters-by-user-container, .book-containe{
    height: 75vh;
}
#one-book-container-wrapper .row,
.character-container-global,
.card-form-create-character .card-header {
    width: 185vh;
}
.title-text-novel .rond-image-illustration img, 
.last-chapter-card .rond-image-illustration img,
.list-fictions-dashboard .rond-image-illustration img{
    width: 9vh;
    height: 9vh;
}

.card-character-container,#all-characters-container-card .character-card.card,
.card-image img.image-book, .title-container-card, .image-book,
.all-characters-of-fiction > button{
    width: 25vh;
}
#all-characters-container-card .character-card.card {
    min-width: 25vh;
    max-width: 25vh;
    height: 37vh;
}
.height-character{
    height: 5vh
}
.fiction-globale-container.card.fiction-container,
.card-form-create-character, .fiction-globale-container ul {
    height: 90vh;
}
.clan-detail-layout .card-body, .clan-detail-layout .card-body.location-clan-body {
    height: 77vh;
}
.location-clan-card-details-body{
    height: 44vh;
}
.border-card-color{
    height: 88.5vh;
}
.character-card.card .card-image {
    width: 23vh;
}
.card.card-image-layout.clan-detail-layout.mb-3,
.card.card-image-layout.clan-detail-layout.mb-3 .row.g-0,
.welcome-dashboard-container, .list-all-characters-container .row-filter {
    width: 188vh;
}
.card.card-image-layout.clan-detail-layout.mb-3,
.card.card-image-layout.clan-detail-layout.mb-3 .row.g-0 {
    height: 94vh;
}
.card.card-image-layout.clan-detail-layout.mb-3 .card-image-layout {
    width: 95rem;
}
.profil-user-card.card .avatar-container img, .h5-container, 
.location-clan-background-width-container .btn.btn-primary, .clan-card,
.table.table-borderless {
    width: 30vh;
}
.clan-detail-layout .card-body .text-align-justify.poppins-text{
    height: 40vh;
}
.dashboard-home-max-card-container .avatar-container {
    width: 5vh;
}
.form-profil-user-card {
    height: 20vh;
}
.all-clans-cards .card-body, .bottom-top-dashboard .card,
#original-characters-list .border-card-color {
    height: 35vh;
}
.form-first-part-container .col-md-6,.character-illustration-container,
.avatar-container, .avatar-wrapper img, .avatar-wrapper
 {
    height: 10vh;
}
.one-book-container-wrapper .fiction-container .card-body, #book-container .fiction-container .card-body,
.illustration-arc-container, .one-book-container-wrapper .fiction-container .card-body,
.row.top-dashboard .card {
    height: 60vh;
}
.row.bottom-dashboard-levele-one .card.random-characters-card{
    height: 48vh;
}
.illustration-background .background-fiction-contain{    
    width: 183vh;
}
.character-details {
    height: 95vh;
    width: 190vh;
}
#original-characters-list .card-group {
    width: 24vh;
}
#original-characters-list{
    height: 87vh;
}
.clan-detail-layout .card-image img{
    width: 17vh;
}
#accueil .navbar-brand img, .fiction-globale-container ul{
    width: 50vh;
}
.row.top-dashboard .card-body > div{
    width: 42vh;
}
.row.top-dashboard .all-my-oc-card .card-body > div{
    width: 22vh;
}
.row.top-dashboard .card-body.user-info-text > div, .fiction-summary-card{
    width: 44vh;
}
.fiction-container .card-body,.card-body.user-inbformation-conter, .profil-user-card .avatar-container,
.dashboard-max-card-container.card-height.fiction-container .card-body, 
.dashboard-max-card-container.card-height .card-body {
    height: 80vh;
}
.quest-container{
    width: 35vh;
    height: 30vh;
}
.rating, .button-validate-container .btn.btn-primary,
.dashboard-home-max-card-container .avatar-container,
.create-character-button .btn, .number-page-container{
    height: 5vh;
}
.rating {
    width: 16vh;
}
.rating svg {
    width: 1vh;
    height: 3vh
}
.title-text-novel p{
    width: 29vh;
}
.title-text-novel p a{
    width: 26vh;
}
.informations-gamer-container {
    height: 45vh;
}
.profil-user-card {
    height: 85vh;
}
.character-container {
    height: 86vh;
}
.clans-location-container{
    height: 92vh;
}
.character-details-chatper.card.mb-3.fiction-container {
    height: 95vh;
}
.character-details .card-body {
    height: 90.5vh;
}
.all-characters-container-card {
    width: 173vh;
}
.avatar-container {
    height: 8vh;
}
.opacity-container, .illustration-background .background-fiction-contain{
    height: 77vh;
}
.all-characters-list-containers{
    width: 112vh;
}
.all-characters-list-containers,
.all-characters-list-containers .row{
    height: 28vh;
}
.clan-detail-layout .card-header .row{
    width: 120vh;
}
.clan-detail-layout .card-header img{
    width: 8vh;
    height: 8vh;
}
.create-character-form,
.card-form-create-character .card-body{
    height: 77vh;
}
.create-character-form > div:nth-child(2),.card.location-clan-background-width-container,
.select-message-container .card-body{
    height: 40vh;
}
.h5-container{
    height: 9vh;
}
.user-info-text img{
    width: 14vh; 
}
.image-fiction-container-background{
    height: 15vh;
}
.fiction-summary-card{
    height: 17vh;
}
.game-container img{
    width: 6vh;
}
.rond-character-background{
    width: 12vh;
    height: 12vh;
}
.all-characters-by-user-container .card{
    height: 33vh;
}
.card.location-clan-background-width-container{
    width: 34vh;
    height: 35vh;
}
.all-fictions-container-global{
    height: 95vh;
}
.welcome-dashboard-container .avatar-container{
    height: 14vh;
}
.welcome-dashboard-container img.mini-rond-avatar-image, 
.dashboard-card-header .avatar-wrapper img{
    width: 8vh;
    height: 8vh;
}
.background-image-quest{
    width: 10vh;
}
.flex-one .quest-button-text .btn.btn-primary{
    width: 18vh;
}
.location-clan-background-width-container .btn.btn-primary{
    max-width: 30vh;
}
.name-characatrer-link .btn{
    height: 7vh;
    width: 19vh;
}
.all-my-characters-container{
    height: 110vh;
}
.fiction-container .card-header{
    height: 13vh;
}
.card-form-create-character .card-body{
    height: 80vh;   
}
#original-character-global-container .flex-one .btn {
    height: 7vh;
}
.avatar-avatar-card-container{
    height: 12vh;
}
.avatar-avatar-card-container .avatar-container {
    width: 14vh;
    height: 14vh;
}
.avatar-avatar-card-container .avatar-container .avatar-wrapper {
    width: 12vh;
}
.avatar-avatar-card-container .avatar-container .avatar-wrapper img{
    width: 12vh;
    height: 12vh;
}
.user-info-text .row.avatar-row{
    height: 15vh;
}
.btn.btn-primary.btn-character-in-clan-detail{
    width: 14vh;
    height: 8vh;
}

.summary-height-container{
    height: 60vh;
}

.character-list-wrapper .card-body{
    height: 6vh;
}
/* NavNar en Vh */
.menu-left.menu-hidden.d-flex.flex-column.flex-shrink-0.p-3 {
    width: 15vh;
    height: 98vh;
}
.logo-container img {
  width: 14vh;
}
#navbarCollapse {
    height: 14vh;
    width: 90vh;
}
.menu-left ul{
    width: 11vh;
}
.menu-level1 {
  height: 8vh;
}
.icon-menu-container,.avatar-navabar, .avatar-navabar img {
    width: 6vh;
    height: 6vh;
}
.navbar>.container-fluid {
    height: 15vh;
}
.logo-accueil-container{
    width: 18vh;
    height: 18vh;
}
#accueil .navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark{
    height: 15vh;
    width: 214vh;
}
.row-filter{
    height: 8vh;
}
.list-all-characters-container .row-filter{
    height: 13vh;
}
#accueil header {
    height: 14vh;
}
.mini-rond-messages{
    height: 4vh;
    width: 4vh;
}
.dashboard-max-card-container.roll-dice-container .card-body{
    height: 75vh;
}
#book-container.dashboard-max-card-container.card-height .card-body{
    height: 80vh;
}
/* Fiction */
.image-fiction-container {
    width: 30vh;
    height: 18vh;
}
.carousel {
    width: 24vh;
}
#edit-chapter-contain .character-details-chatper.card.mb-3.fiction-container{
    height: 75vh;
}
.create-chapter-card-container{
    height: 85vh;
}
#edit-chapter-contain{
    width: 140vh;
    height: 80vh;
}
.pagination{
    max-width: 50vh;
}
#accueil li.nav-item, .number-page-container{
    width: 17vh;
}
.row.bottom-dashboard-levele-one .card.last-book-container{
    height: 36vh;
}
.illustration-background {
    width: 183vh;
    height: 77vh;
}
.row.bottom-dashboard-levele-one .card.all-fictions-card{
    height: 86vh;
}
.col-8.location-clan-card-details{
    height: 90vh;
}
.quest-button-text {
    height: 30vh;
}

/* QUEST */
.flex-one .quest-content .btn.quest-completed-btn{
    width: 50vh;
}
.quest--global-container {
    height: 30vh;
}
#quest-by-id {
    width: 185vh;
    height: 95vh;
}
#quest-by-id .parallax-container {
    height: 78vh;
}
.quest-button-text p {
    height: 20vh;
}.quest-button-text p.quest-description {
    height: 20vh;
    width: 18vh;
}
.one-quest h6{
    width: 18vh;
    height: 10vh;
}
.background-image-quest{
    height: 30vh;
}
.avatar-gamer{
    width: 20vh;
    height: 20vh;
}
.level-role-width{
    width: 20vh;
}
.card-body.one-quest {
    height: 32vh;
    width: 18vh;
}
.card-image img {
    width: 23vh;
}
.login-card .card-body{
    height: 30vh;
}
.summmary-book-height-dashboard{
    height: 27vh;
}
.title-dashboard-container-header {
    height: 12vh;
}
/* en REM */
.card.fiction-container .card-header h4 {    
    width: 100%;
    height: 2.5rem;
}
.all-characters-of-fiction{
    width: 28vh;
}
.card-body.last-chapter-card.text-white{
    height: 30rem;
}
.row.list-fiction-card-container{
    height: 38rem;
}
.left-fiction-summary-container{
    width: 20rem;
}
audio{
    width: 14rem;
}
.info-original-character-height{
    height: 19rem;
}
.card-body.all-last-three-fictions-container .list-all-fictions-globale--container{
    width: 20rem;
}
.create-chapter-btn-container .btn, .select-character-container .form-check {
    width: 15rem;
}
.quest-button-text .btn.btn-primary {
    width: 10rem;
}
.icon-menu-container img {
    width: 1.25rem;
}
.link-collapse {
    width: 6rem;
}
/* % */
.character-details.card .card-image img {
    width: 75%;
}
.card-img-top.background-image-quest-image-container img,
.character-l1 img {
    width: 75%;
}
.parallax-layer {
    height: 100%;
}
.title-dashboard-container-header .image-messenger-container img {
    width: 20%;
}
.character-l1 img {
    height: 75%;
}
.illustration-background .background-fiction-contain,
.illustration-arc-container img, .row.bottom-dashboard-levele-one .card-header > div{
    width: 100%;
}
.logo img{
    width: 55%;
}
.image-width{
    width: 45%;
    height: 45%;
}
/*  px */
.row.all-calls-pagination-container{
    height: 100px;
}
.cat-corner::before
.dashboard-max-card-container::before,
.fiction-globale-container::before,
.character-card.card::before,
.display-flex-row.card-group.clan-group .card.location-clan-background-width-container::before {
    width: 10px;
    height: 10px;
}
.character-l1{
    width: 110px;
}
.illustration-background .background-fiction-contain .characters-list-container img{
    width: 150px;
}
.mini-rond-avatar-image{
    width: 70px;
    height: 70px;
}
.edit-overlay {
    width: 40px;
    height: 40px;
}
.clans-location-container .gap-2 {
    width: 0;
}
.header-container.container {
    max-width: 100%;
}
