@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../variables.scss';

.card-body h1 {
    text-align: center;
}
main.container-fluid,.container-fluid,
.container-fluid.row  {
    margin-top: 0rem;
    overflow-y: hidden;
    max-width: 100%;
}
.dashboard-layout-container {
    margin-top: 5rem;
}
.global-container {
    margin-top: 3rem;
    height: 98vh;
}
.container-fluid>.row>.col-10.col-sm-10.col-md-10.col-lg-10.col-xl-10.col-xxl-10 {
    margin: 0;
}
.container {
    background-color: rgba(var(--main-white), 0);
}
.profil-user-card {
    height: 75vh;
    margin: 2rem;
    padding: 10rem 0 0 0;
    background: var(--linear-greendark-clear);
}
.profil-text-container {
    flex: 1;
}
.avatar-container {
    flex: 0.5;
}
.character-container {
    margin: -3rem auto;
    height: 86vh;
    overflow-x: hidden;
    flex-wrap: wrap;
    padding: 0;
}


.character-details .card-body {
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(var(--main-white), 1);
    border-radius: 12px;
    border: 1rem solid rgba(var(--clear-green-02), 1);
    z-index: -222
}
.form-character-container-global {
    height: 97vh;
    overflow-y: hidden;
    width: 105rem;
    margin: 2rem;
}
.character-col {
    display: flex;
    flex-direction: row;
}
.character-details-chatper.card.mb-3.fiction-container {
    background: linear-gradient(90deg, rgba(var(--dark-green-02), 1) 0%, rgba(var(--clear-green-02), 1) 100%);
    height: 95vh;
}

.row,
.col-xxl-9.col-xl-9.col-lg-9.col-md-12.col-sm-12.col-xs-12,
.col-xxl-6.col-xl-6.col-lg-6.col-md-12.col-sm-12.col-xs-12,
.col-xxl-4.col-xl-4.col-lg-4.col-md-12.col-sm-12.col-xs-12 {
    border: 4px solid rgba(238, 130, 238, 0);
}
.link-text-a {
    color: rgba(var(--dark-green-01), 1);
    font-family: var(--roboto-text);
}


.title-dashboard-container-header {
    height: 6rem;
}

.title-dashboard-container-header img {
    width: 5%;
    border-radius: 100%;
    margin: 0 0 0 1rem;
}
.title-dashboard-container-header .image-messenger-container img {
    width: 20%;
    border-radius: 0;
    margin: 0 0 0 1rem;
}
.title-dashboard-container-header h1 {
    font-family: 'Cinzel';
    font-variant: small-caps;
    margin-top: 0.25rem;
}

.h1-title-dashboard {
    display: flex;
    flex-direction: row;
}

.h1-title-dashboard {
    display: flex;
    flex-direction: row;
    flex: 1;
    font-family: var(--montserrat);
    font-variant: small-caps;
    font-weight: 600;
    font-size: 30px;
}

.all-characters-container-card {
    margin-top: 1rem;
}

.character-l1 {
    flex: 1;
    margin: 0 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.character-l1 img {
   width: 75%;
   height: 75%;
}
.character-l1 img:hover {
    transform: scale(1.5);
    transition: all 2s ease-out;;
 }
.flex-one .btn {
    margin-bottom: 1rem;
}
.avatar-container-header {
    display: flex;
    flex-direction: row;
}
.avatar-container {
    height: 8vh;
}
.row.submit-container {
    margin-top: 0rem;
}
.card {
    border: none;
}
#dashboard p, #dashboard h1,#dashboard h4, #arc-book-container p{
    color: rgba(var(--main-white), 1);
}
#arc-book-container p{
    text-align: justify;
    font-size: 1.05em;
    font-family: 'Poppins';
}
#dashboard .mini-rond-messages p{
    color: rgba(var(--dark-green-02), 1);
    font-weight: 600;
}
.illustration-background .background-fiction-contain{
    background-repeat: no-repeat;
    height: 38rem;
    border-radius: 20px;
}
.opacity-container{
    background-color: rgba(var(--dark-green-01), 0.75);
    height: 67vh;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}
.illustration-background .background-fiction-contain .characters-list-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0.5rem 0 0.5rem 0;
}
.all-characters-of-fiction{
    margin: 1rem 1rem 0rem 1rem;
}
.illustration-background .background-fiction-contain .characters-list-container img{
    width: 150px;
}
.character-details-router{
    text-align: justify;
}
.all-characters-list-containers{
    width: 90vh;
    flex-wrap: wrap;
}
.illustration-arc-container{
    height: 60vh;
    background-position: 2%;
    background-repeat: no-repeat;
}