@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../variables.scss';


.menu-left.menu-hidden.d-flex.flex-column.flex-shrink-0.p-3 {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(var(--clear-green-02), 1) rgba(var(--dark-green-02), 1);
  scrollbar-width: thin;
  margin: 0.25rem 1rem 1rem 0rem;

}
.form-control-dark {
  color: rgba(var(--main-black), 1);
  background-color: var(--bs-dark);
}
.form-control-dark:focus {
  color: rgba(var(--main-black), 1);
  background-color: var(--bs-dark);
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.text-small {
  font-size: 85%;
}
.dropdown-toggle {
  outline: 0;
}
.logo-container {
  padding: 0;
  margin: -1rem 0 0 -1rem;
}
.navbar {
  margin-top: -0.5rem
}
#navbarCollapse {
  margin: 3vh 0 0 180vh;
}
.nav-item a {
  font-size: 18px;
}
/* MENU LEFT */
.li-level1 {
  margin-left: -1rem;
}
.menu-left {
  position: fixed;
  background: var(--lineart-other03);
  margin: 0.5rem 0rem;
}
.icon-menu-container svg.svg-inline--fa.fa-chevron-down {
  color: rgba(var(--clear-green-01), 1);
}
.menu-left ul {
  padding: 0 0 0 8vh;
}
.menu-left ul li {
  margin: 0.5rem 0 0 -7rem
}
#collapseExample3 p {
  font-size: 0.865em;
  font-variant-caps: all-small-caps;
  margin: 0;
  font-weight: 800;
}
.menu-level1 {
  margin: 0 0 0 2rem;
}
.icon-menu-container {
  background-color: rgba(var(--clear-green-02), 1);
}
.icon-menu-container:hover {
  background-color: rgba(var(--active-hover), 1);
}
.icon-menu-container svg,
.icon-menu-container i,
.icon-menu-container img {
  color: rgba(var(--dark-green-02), 1);
}

ul {
  list-style: none;
}


.li-level1:hover {
  color: rgba(var(--active-hove), 1);
}
.menu-left {
  position: fixed;  
  margin: 0.5rem 0rem;
  transition: transform 0.3s ease-in-out;
}
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), 0) !important;
}
.menu-hidden {
  display: none;
}
.avatar-navabar {
  padding: 1.5rem 0 0 0;
}

.li-level1 .collapse {
  text-align: center;
  font-family: var(--roboto-text);
  font-size: 1.75em;
  word-wrap: normal;
  word-break: break-word;
  margin: -1rem 0 1rem 2rem;
}
.menu-li-contain svg {
  margin: 1rem -1rem 0 1rem;
}
.link-collapse {
  font-family: "Poppins", sans-serif;
  font-size: 0.45em;
  color: rgba(var(--clear-green-02), 1);
  white-space: normal;
  overflow-wrap: break-word;
}
.link-collapse .link-collapse {
  display: flex;
  flex: 1
}
.link-collapse:hover {
  color: rgba(var(--active-hover), 1)
}
.logout-li-container {
  display: flex;
  flex-direction: row;
}
.container-fluid.header-container{
  display: flex;
  flex-direction: row;
}
.logo-accueil-container{
    flex: 1;
    padding: 0;    
    margin: -7vh 0 0 -29vh;
}
#accueil .navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark{
  padding: 0;
  margin: -1.5rem 0 0rem 0;
}
/* FITLER */
.row-filter{
  padding: 1rem 0 0 2rem;
  margin: 0.5rem 0 0 1rem;
}
.list-all-characters-container .row-filter{
  padding: 2rem 0 0 2rem;
  margin: 1.5rem 0 0 1rem;
}
.burger-menu {
  display: none;
  cursor: pointer;
}
.menu-hidden {
  display: none;
}
@media (max-width: 1400px) {
  .burger-menu {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .menu-left {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-250px);
    transition: transform 0.3s ease-in-out;
  }
  .menu-left.menu-hidden {
    transform: translateX(0);
  }
}