@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../variables.scss';

.header-container.container {
  max-width: 100%;
}
.menu-left.menu-hidden.d-flex.flex-column.flex-shrink-0.p-3 {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(var(--clear-green-02), 1) rgba(var(--dark-green-02), 1);
  scrollbar-width: thin;
  margin: 0.5rem 0 1rem -1.75rem;
  width: 13rem;
  height: 98vh;
}
.form-control-dark {
  color: rgba(var(--main-black), 1);
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  color: rgba(var(--main-black), 1);
  background-color: var(--bs-dark);
  border-color: rgba(var(--main-black), 1);
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.text-small {
  font-size: 85%;
}
.dropdown-toggle {
  outline: 0;
}
.logo-container {
  padding: 0;
  margin: -2rem 0.5rem 0 0;
}
.navbar {
  margin-top: -0.5rem
}
.logo-container img {
  width: 120%;
}
#navbarCollapse {
  height: 5rem;
  margin-left: 60rem;
  justify-content: right;
  width: 90vh;
  margin-right: -65rem;
}
.nav-item a {
  font-size: 18px;
}
/* MENU LEFT */
.side-bar {
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}
.li-level1 {
  margin-left: -1rem;
}
.menu-left {
  height: 98vh;
  position: fixed;
  background: var(--lineart-other03);
  border-radius: 8px;
  width: 8%;
  margin: 0.5rem 0rem;
}
.icon-menu-container svg.svg-inline--fa.fa-chevron-down {
  color: rgba(var(--clear-green-02), 1);
}
.menu-left ul {
  margin: 1rem 0 0 2rem;
  width: 10rem;
}
.menu-left ul li {
  font-family: var(--roboto-text);
  color: rgba(var(--clear-green-02), 1);
  margin: 0.3rem 0 0.2rem -0.2rem;
  text-align: center;
}
#collapseExample3 p {
  font-size: 0.865em;
  font-variant-caps: all-small-caps;
  color: rgba(var(--clear-green-02), 1);
  margin: 0;
  font-weight: 800;
}
.menu-level1 {
  display: flex;
  flex-direction: row;
  height: 8vh;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  text-align: center;
  margin: 0 0 0 2rem;
}
.menu-li-contain {
  display: flex;
  flex-direction: row;
}

.icon-menu-container {
  width: 48px;
  height: 48px;
  background-color: rgba(var(--clear-green-02), 1);
  border-radius: 100%;
}
.icon-menu-container:hover {
  background-color: rgba(var(--active-hover), 1);
}
.icon-menu-container svg,
.icon-menu-container i,
.icon-menu-container img {
  color: rgba(var(--dark-green-02), 1);
}

ul {
  list-style: none;
}
.icon-menu-container img {
  width: 1.25rem;
}

.li-level1:hover {
  color: rgba(var(--active-hove), 1);
}
.menu-left {
  height: 98vh;
  position: fixed;  
  border-radius: 8px;
  width: 8%;
  margin: 0.5rem 0rem;
  transition: transform 0.3s ease-in-out;
}
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), 0) !important;
}
.menu-hidden {
  display: none;
}
.navbar>.container-fluid {
  height: 10rem;
}

.avatar-navabar {
  width: 100px;
  height: 100px;
  padding: 1.5rem 0 0 0;
}
.avatar-navabar img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.li-level1 .collapse {
  text-align: center;
  font-family: var(--roboto-text);
  font-size: 1.75em;
  word-wrap: normal;
  word-break: break-word;
  width: 7.5rem;
}
.menu-li-contain svg {
  margin: 1rem -1rem 0 1rem;
}
.link-collapse {
  font-family: "Poppins", sans-serif;
  font-size: 0.45em;
  color: rgba(var(--clear-green-02), 1);
  width: 7rem;
}
.link-collapse .link-collapse {
  display: flex;
  flex: 1
}
.link-collapse:hover {
  color: rgba(var(--active-hover), 1)
}
.chevron-container {
  width: 1rem;
  flex: 1;
}
.logout-li-container {
  display: flex;
  flex-direction: row;
}
.container-fluid.header-container{
  display: flex;
  flex-direction: row;
}
.logo-accueil-container{
    flex: 1;
    width: 20rem;
    height: 18vh;
    padding: 0;
    margin-top: -1rem;
}
#accueil .navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark{
  padding: 0;
  margin: -1.5rem 0 0rem 0;
  height: 13rem;
}
/* FITLER */
.row-filter{
  height: 8rem;
  padding: 2.5rem 0;
}
.burger-menu {
  display: none;
  cursor: pointer;
}

.menu-hidden {
  display: none;
}

@media (max-width: 1400px) {
  .burger-menu {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .menu-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    transform: translateX(-250px);
    transition: transform 0.3s ease-in-out;
  }

  .menu-left.menu-hidden {
    transform: translateX(0);
  }
}