@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '../variables.scss';
.pagination-container {
    margin-top: 5rem;
}

.number-page-container {
    background-color: rgba(var(--dark-green-01), 1);
    width: 9rem;
    height: 5vh;
    vertical-align: middle;
    padding: 0.65rem 0;
    margin: -2vh 0 0 0;
}
.pagination li,.pagination-container, .pagination-container-row.col-lg-12.col-md-12.col-sm-12.col-xxl-12.col-xs-12 {
    margin: 0;
    margin-top: -3rem;
    justify-content: right;
}

.row.search-pagination-container{
    height: 50px;
}
.row.search-pagination-container .col-2{
    padding: 0 0 1rem 0;
}
.pagination-container-row.col-lg-12.col-md-12.col-sm-12.col-xxl-12.col-xs-12{
    padding: 2rem 0 0 1rem;
    margin: 0 auto;
    align-items: center;
}
.row.pagination-container .col-2{
    margin: -3rem 0 0 0;
}
.row.pagination-container p{
    color:rgba(var(--main-white),1);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
    text-align: right;    
}
.nav-btn-contain button{
    height: 40px;
}

.pagination .page-link{
    background-color: rgba(var(--dark-green-01),1);
    color: rgba(var(--main-white),1)
}
.pagination .page-link:hover{
    background-color: rgba(var(--clear-green-01),1);
    color: rgba(var(--active-hover),1)
}
.pagination li{
    margin: 0;
}
.row.pagination-container-row{
    margin: -3rem 0 0 0;
}
.list-all-characters-container .row.pagination-container-row{
    margin: 3rem 0 0 0;
}
.nav-space-contain{
    font-size: 2.5em;
}