@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../variables.scss';

@media (min-width: 200px) and (max-width: 1700px){
    .container-fluid{
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
@media (min-width: 2561px) and (max-width: 3840px) {
    
}
@media (min-width: 1921px) and (max-width: 2560px) {
    
}
@media (min-width: 1440px) and (max-width: 1920px) {

}
@media (min-width: 1367px) and (max-width:  1439px) {

    .Comment-icon, .Comment-icon .display-flex-column, .Comment-icon .flex-one .btn {
        width: 23vh;
    }    
    .rating {
        width: 10vh;
        height: 10vh;
        margin: 5vh 0 0 10vh;
    }
    .chapter-global-content.height-70-vh, .chapter-text-content{
        height: 60vh;
    }    
    .Comment-icon > div > div.flex-one.display-flex-column{
        display: flex;
        flex-direction: row;
        width: 46vh;
        margin: -7vh 0 0 -8vh;
    }
    .character-details-chatper.card{
        margin: -2vh 0 0 0;
    }
    .author-text{
        font-size: .85em;
    }
    .title-author-container.flex-one{
        flex: 0.2;
    }
    .character-chapters-fiction-container .character-chapters-container,.illustration-background {
        width: 140vh;
    }    
    .illustration-background .background-fiction-contain{
        height: 75vh;
    }    
    .opacity-container{
        height: 75vh;
    }
    .middle-fiction-card .col-xxl-6.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12{
        width: 62vh;
        margin: 0 0 0 6vh;
    }
    .summary-height-container p{
        font-size: 1.5em;
    }
    .middle-fiction-card a{
        font-size: 1.25em;
        font-weight: 500;
    }
    .all-chapters-list-container ul{
        width: 44vh;
        max-width: 44vh;
        margin: 0;
        height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .carousel p{
        font-size: 1.25em;
    }
    .flex-one .summary-container .btn {
        font-size: 1.25em;
        margin: -13vh 0 0 0;
    }
    .summary-height-container{
        height: 66vh;
    }
    .right-column-image-container {
        margin: -13vh 0 0 0;
    }
    .summary-container input{
        margin: -3vh 0 0 0;
    }
    .dashboard-max-card-container.card.fiction-container{
        width: 20vh;
        max-width: 25vh;
        margin: 0 0 0 3vh;
    }
    .card.fiction-container.all-fictions-container-global{
        width: 120vh;
        max-width: 125vh;
    }
    #book-container.dashboard-max-card-container.card.fiction-container{
        width: 120vh;
        max-width: 125vh;
    }
    #book-container.dashboard-max-card-container.card.fiction-container .card-body p {
        width: 105vh;
    }

    .card.fiction-summary-card.clear-green-bacground{
        height: 15vh;
        width: 36vh;
    }
    .display-none-responsive p{
        display: none;
    }
    .row-cols-md-4>*{
        width: 37vh;
        height: 20vh;
    }
    .fiction-container .pagination-container-row{
        margin: 14vh;
    }
    .dashboard-max-card-container.card.fiction-container .row.pagination-container{
        margin: 3vh 0 0 -42vh;
    }
    .fiction-container ul.pagination{
        margin: -13vh 0 0 30vh;
    }
    .fiction-container .pagination-div-container-center{
        margin: 0;
    }
    h5.card-title.text-dark-green.montesserat{
        margin: 4vh 0 0 0;
    }
    h5.card-title a{
        width: 25vh;
        display: flex;
    }
    .dashboard-max-card-container.card.fiction-container > .card-body{
        height: 40rem;
        width: 196vh;
        padding: 1rem 0 0 0;
    }
    .height-all-fictions-container {
        height: 58vh;
    }
    /* DASHBOARD */
    .row.top-dashboard{
        height: 137vh;
    }
    .row.top-dashboard .card-global{
        height: 95vh;
    }
    .one-book-container-wrapper .fiction-container .card-body, #book-container .fiction-container .card-body, .illustration-arc-container, .one-book-container-wrapper .fiction-container .card-body, .row.top-dashboard .card {
        height: 95vh;
    }
    .row.avatar-row, .row.top-dashboard .card-body.user-info-text > div{
        width: 62vh;
    }
    .row.top-dashboard .card-body > div{
        width: 60vh;
    }
    .title-text-novel p {
        width: 39vh;
    }
    .row.bottom-dashboard-levele-one .card.last-book-container {
        height: 63vh;
    }
    .list-all-fictions-globale--container {
        width: 187vh;
        margin: 0 0 0 8vh;
    }
    .row.top-dashboard .all-my-oc-card .card-body > div {
        width: 100vh;
    }
    .row.top-dashboard .card.my-oc-card {
        height: 28vh;
        margin: 1rem auto;
    }
    .row.bottom-dashboard-levele-one .card.random-characters-card {
        height: 33vh;
    }
    .row.bottom-dashboard-levele-one .card.all-fictions-card {
        height: 101vh;
    }
    /* Page all characters */
    .all-characters-container-card {
        margin-top: 8vh;
        width: 134vh;
    }
    .info-original-character-height{
        width: 75vh;
    }
    .character-container-global {
        margin: -1rem auto;
        height: 150vh;
        overflow-y: hidden;
        overflow-x: hidden
    }
    .character-card.card .card-image {
        height: 25vh;
        width: 22vh;
    }
    
    #all-characters-container-card .character-card.card{
        display: flex;
        flex-direction: column;
        margin: 0 4vh 8vh 0;
        height: 34vh;
        width: 32vh;
    }
    span.name-characatrer-link{
        margin: -15vh 0 0 0;
    }

    .character-list-wrapper .card-body{
        height: 2vh;
        margin: 12vh 0 0 0;
    }
    .character-details-card .card-body p{
        margin: -11vh 0 0 0; 

    }
}
 @media (min-width: 1400px) and (max-width:1710px){
    
    .card.fiction-container.all-fictions-container-global{
        width: 120vh;
        max-width: 125vh;
    }
    .character-list-wrapper .card-body{
        height: 2vh;
    }
    .col-xxl-3{
        width: 33%;
    }
    .col-xxl-3.card-global.all-my-oc-card {
        width: 100%;
    }    
    span.name-characatrer-link{
        margin: -15vh 0 0 0;
    }
    .character-details-card .card-body p{
        margin: -11vh 0 0 0; 

    }
 }
@media (min-width: 1201px) and (max-width: 1400px) { 
    .height-all-fictions-container {
        margin: 1rem 0 -2rem 7rem;
    }
    .card.fiction-container.all-fictions-container-global{
        width: 190vh;
        max-width: 190vh;
    }
    .all-fictions-container-global .pagination-container {
        margin: 2rem 0 0 0;
    }
    .info-original-character-height{
        height: 20vh;
        overflow-y: scroll;
    }
    .character-details .parallax {
        overflow-y: hidden;
    }
    .tab-pane{
        overflow-y: scroll;
    }

    .fiction-globale-container.card.fiction-container {
        width: 195vh;
        min-width: 195vh;
    }
    .fiction-container .card-header {
        height: 22vh;
    }
    .title-author-container h1{
        font: 500 1.5rem petite-caps;
        font-variant-caps: all-petite-caps;
    }
    .Comment-icon, .Comment-icon .display-flex-column, .Comment-icon .flex-one .btn {
        width: 30vh;
    }
    .chapter-title-content{
        margin: 0 0 0 -35vh;
        width: 150vh;
    }
    .Comment-icon{
        margin: 4vh 0 0 -38vh;
    }
    .fiction-globale-container h3{
        font-size: 1.25em;
    }
    .Comment-icon {
        margin: 4vh 0 0 -9vh;
    }
    .rating {
        width: 10vh;
        height: 10vh;
        margin: 5vh 0 0 10vh;
    }
    .title-author-container.flex-one{
        flex:0.7;
    }
    .character-chapters-fiction-container .character-chapters-container,.illustration-background {
        width: 185vh;
    }    
    .illustration-background .background-fiction-contain{
        height: 75vh;
    }    
    .opacity-container{
        height: 75vh;
    }
    .middle-fiction-card .col-xxl-6.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12{
        width: 62vh;
        margin: 0 0 0 6vh;
    }
    .summary-height-container p{
        font-size: 1.5em;
    }
    .middle-fiction-card a{
        font-size: 1.25em;
        font-weight: 500;
    }
    .all-chapters-list-container ul{
        width: 44vh;
        max-width: 44vh;
        margin: 0;
        height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .carousel p{
        font-size: 1.25em;
    }
    .flex-one .summary-container .btn {
        font-size: 1.25em;
        margin: -13vh 0 0 0;
    }
    .summary-height-container{
        height: 66vh;
    }
    .right-column-image-container {
        margin: -13vh 0 0 0;
    }
    .summary-container input{
        margin: -3vh 0 0 0;
    }
    .dashboard-max-card-container.card.fiction-container{
        width: 20vh;
        max-width: 25vh;
        margin: 0 0 0 3vh;
    }
    .card.fiction-summary-card.clear-green-bacground{
        height: 15vh;
        width: 36vh;
    }
    .display-none-responsive p{
        display: none;
    }
    .fiction-container .pagination-div-container-center{
        margin: 0;
    }    
    h5.card-title.text-dark-green.montesserat{
        margin: 4vh 0 0 0;
    }
    h5.card-title a{
        width: 25vh;
        display: flex;
    }
    /* DASHBOARD */
    .video-card-global .card.background-lineart.border-none.video-card.height-45-vh.margin-0-0-0-1vh{
        height: 60vh;
    }
    .row.top-left-dashboard{
        height: 65vh;
    }
    .card.background-lineart.border-none.arc-card.last-arc-container.height-40-vh.margin-0-0-0-1vh{
        height: 60vh;
        width: 100%;
    }
    .row.top-dashboard{
        height: 130vh;
    }
    .row.top-dashboard .card-global{
        height: 95vh;
    }

    .summmary-book-height-dashboard {
        height: auto;
}
    .summary-book-dashboard.display-flex-row.align-items-content-justify-content.width-70-vh.margin--0-0--4{
        width: 200vh;
        margin: 0 0 0 4vh;
    }
    .one-book-container-wrapper .fiction-container .card-body, #book-container .fiction-container .card-body, .illustration-arc-container, .one-book-container-wrapper .fiction-container .card-body, .row.top-dashboard .card {
        height: 95vh;
    }
    .row.avatar-row, .row.top-dashboard .card-body.user-info-text > div{
        width: 62vh;
    }
    .row.top-dashboard .card-body > div{
        width: 60vh;
    }
    .title-text-novel p {
        width: 39vh;
    }
    .row.bottom-dashboard-levele-one{
        height: 200vh;
    }
    .list-all-fictions-globale--container {
        width: 187vh;
        margin: 0 0 0 8vh;
    } 
    .row.top-dashboard .card.my-oc-card {
        height: 28vh;
        margin: 1rem auto;
    }
    .row.bottom-dashboard-levele-one .card.random-characters-card {
        height: 33vh;
        width: 199vh;
    }
    .random-characters-card .card-header.background-color-dark-green-02
    .dashboard-card-header.all-chapters-list-container.align-items-content-justify-content.height-10-vh{
        width: 70vh;
    }
    .row.middle-separator{
        margin: 180vh 0 0 0;
    }
    .row.bottom-dashboard-levele-one .card.all-fictions-card {
        height: 101vh;
    }    
    span.name-characatrer-link{
        margin: -15vh 0 0 0;
    }
    .character-list-wrapper .card-body{
        margin: 12vh 0 0 0;
    }
    .name-characatrer-link.flex-one .btn{
        margin: 13vh 0 0 -1px;
        padding: 1vh 0 0 0;
        height: 10vh;
    }
    .mb-3 {
        margin: -3vh 0 0 0;
    }
    .list-all-characters-container .input-name-margin .col-sm-7 {
        padding: 3vh 0 0 0;
    }
    .list-all-characters-container .row.row-filter p{
        width: 30vh;
        margin: 2vh 0 0 0;
    }
    .search-clan, .search-grade{
        margin: 3vh 0 0 0;
    }
    .character-list-wrapper .card-body{
        height: 2vh;
        margin: 12vh 0 0 0;
    }
    .character-details-card .card-body p{
        margin: -11vh 0 0 0; 
    }
    .li-level1 .collapse{
        padding: 4vh 0 0 0;
    }
    .row.bottom-dashboard-levele-three{
        height: 125vh;
    }
}
@media (max-width: 1400px) {

}
@media (min-width: 993px) and (max-width: 1200px) {
    .display-none-responsive p{
        display: none;
    }
       
    span.name-characatrer-link{
        margin: -15vh 0 0 0;
    }

}