@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../variables.scss';

.title-author-container h1 {
  font: 500 2.25rem petite-caps;
  font-variant: all-petite-caps;
}
.summary-title-text p a {
  font-weight: 500;
  font-size:  1.15em;
  font-variant: small-caps;
  font-family: 'Poppins';
}
.summary-title-text p a:hover {
  color: rgba(var(--active-hover), 1);
}
.summary-text-font p {
  font-size: 0.75em;
}
.summary-title-text p a.last-chapter-text:hover {
  color: rgba(var(--active-hover), 1);
}

.card-header h2 {
  font: 2em capitalize all-petite-caps;
  font-variant-caps: small-caps;
  margin: 0 0 0 -50vh;
}
#list-events p span, .text-bg-primary, .user-info-text p span, h5.card-title {
  font-weight: 600;
  color: rgba(var(--ternary-green), 1);
}
.select-message-container h3 {
  text-align: center;
}

.text-bg-primary {
  background-color: rgba(var(--dark-green-01), 1) !important;
}
.informations-gamer-container {
  overflow-y: scroll;
}
h1.card-title {
  font-size: 2.75em;
}

.user-info-text p {
  line-height: 0.85;
  font-size: 0.85em;
  color: rgba(var(--main-white), 1);
  font-family: 'Poppins';
}
.user-info-text p span.label-profil {
  font-size: 0.95em;
  font-weight: 400;
  text-transform: capitalize;
  color: rgba(var(--ternary-green), 1)
}
.character-illustration-container{
  background-position: 50%;
}
h5.card-title {
  font-size: 1.5em;
}
.card-text.summary-text-font p{
  line-height: 1.2;
}
.h5-container a{
  font-weight: 800;
}
.h5-container a:hover{
  color:rgba(var(--active-hover), 1)
}
h5.card-title a, .my-oc-character-container p a{
  font-size: 1em;
}
.title-text-novel p{
  text-align: left;
  text-wrap: wrap;
  font-family: "Poppins";
  text-align: justify;
}
.title-text-novel p a{
  font-variant: small-caps;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 70%;
  overflow-wrap: break-word;
}
.title-text-novel .text-white.text-align-justify.poppins-text p{
  font-size: 0.85em;
}
.author-text{
  font-size: 1.2em;
  font-variant-caps: all-small-caps;
}
.summary-title-text span.text-white p{
  text-align: justify;
}
.mini-rond-messages p{
  color: rgba(var(--main-white), 1)
}
.last-chapter-text-link{
  font-size: .9em;
}
.quest-description{
  font-size: 0.85em;
}
.quest-container .card-header h6{
  color: rgba(var(--main-white), 1);
  font-weight: 600;
}
.quest-button-text p.quest-description{
  text-align: justify;
}
