@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../variables.scss';
/* FONTS */
.opensans-text{
    font-family: var(--opensans-text);
}
.poppins-text{
    font-family: 'Poppins';
}
.cinzel{
    font-family: 'Cinzel';
}
.roboto{
    font-family: 'Roboto';
}
.montesserat{
    font-family: 'Montserrat';
}
.font-size-1em{
    font-size: 1em;
}
.font-size-1-25{
    font-size: 1.25em;
}
.font-weight-600{
    font-weight: 600;
}
.font-variant-small-caps{    
    font-variant: small-caps;
}
.font-variant-normal{
    font-variant-caps: normal;
  }
.text-align-justify{
    text-align: justify;
}
.text-white{
    color: rgba(var(--main-white), 1);
}
.text-clear-green{    
    color: rgba(var(--clear-green-0), 1);
}
.text-middle-green{    
    color: rgba(var(--middle-green-01), 1);
}
.text-dark-green{
    color: rgba(var(--dark-green-01), 1);
}
.text-ternary-green{
    color: rgba(var(--ternary-green), 1);
}
.text-active{
    color: rgba(var(--active-hover), 1);
}