@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import '../variables.scss';

.display-flex{
    display: flex;
}
.display-flex-column{
    display: flex;
    flex-direction: column;
}
.display-flex-row{
    display: flex;
    flex-direction: row;
}
.flex-one{
    flex: 1;
}
.height-fixed{
    height: 100vh;
}
.height-90{
    height: 90vh
}
.background-color-main-lineart{
    background: var(--linear-greendark-clear);
}
.background-size-cover{
    background-size: cover
}
.margin-3-rem{
    margin: 3rem;
}
.padding-2-rem{
    padding: 2rem;
}
.avatar-gamer{
    width: 75%;
    height: 70%;
    margin: 1rem;
}