@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../variables.scss';

/* DISPLAY & ALIGNEMENT */
.display-flex{
    display: flex;
}
.display-flex-column{
    display: flex;
    flex-direction: column;
}
.display-flex-row{
    display: flex;
    flex-direction: row;
}
.flex-one{
    flex: 1;
}
.align-items-content-justify-content{
    align-items: center;
    align-content: center;
    justify-content: center;
}
.vertical-align-middle{
    vertical-align: middle;
}
.justify-content-right{
    justify-content: right;
}
/* HEIGHT and WIDTH*/
.height-auto{
    height: auto;
}
.height-100{
    height: 100vh;
}
.height-90{
    height: 90vh
}
.width-100-percent{
    width: 100%;
}
/* Background-color & color  */
.background-color-main-lineart{
    background: var(--linear-greendark-clear);
}
.background-lineart{
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 1), rgba(var(--clear-green-02), 1));
}
.white-text, .row-filter label{
    color: rgba(var(--main-white), 1)
}
.background-color-white{
    background-color: rgba(var(--main-white), 0);
}
.background-color-dark-green-01{
    background-color: rgba(var(--dark-green-01), 1);
}
/* Background */
.background-size-cover{
    background-size: cover;
    background-repeat: no-repeat;
}
.background-size-contain{
    background-size: contain;
    background-repeat: no-repeat;
}
/* MARGIN */
.margin-3-rem{
    margin: 3rem;
}
.padding-2-rem{
    padding: 2rem;
}
.overflowY-hidden{
    overflow-y: hidden;
}
.overflowY-scroll{
    overflow-y: scroll;
}
.overflowY-auto{
    overflow-y: auto;
}
.vertical-align-middle {
    vertical-align: middle;
}
/* FONTS */
.opensans-text{
    font-family: var(--opensans-text);
}
.poppins-text{
    font-family: 'Poppins';
}
.font-title-fiction-dasboard{
    color: rgba(var(--clear-green-02), 1);
    font: 600 1.5em 'Poppins';
    font-variant: small-caps ;
}
.text-align-justify{
    text-align: justify;
}
table.table tr th, table.table tr td{
    color: rgba(var(--main-black), 1);
}
table.table-borderless, .table.table-borderless>:not(caption)>*>*, .table-borderl {
    background-color: rgba(var(--main-white), 0);
}
.text-white{
    color: rgba(var(--main-white), 1);
}