@import './variables.scss';
.card-image{
    display: flex;
    justify-content: center;
    background-size: cover;
}
.card-image img{
    width: 50%;
}
.character-list-wrapper .card-header{
    display: flex
}
.name-characatrer-text{
    flex: 1
}