@import './variables.scss';
.card-image{
    display: flex;
    justify-content: center;
    background-size: cover;
}
.card-image img{
    width: 50%;
}
.character-card.card{
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 1), rgba(var(--clear-green-02), 1));
    border: none;
    color: rgba(var(--main-white), 1);
    font-family: var(--opensans-text);
}
.character-card.card::after{
    background-image: url('../images/icons/cat-corner.svg');
}