@import './variables.scss';
.card-image{
    display: flex;
    justify-content: center;
    background-size: cover;
}
.card-image img{
    width: 50%;
}
.character-list-wrapper .card-header{
    display: flex;
    flex-direction: column;
}
.name-characatrer-text-card{
    text-align: center;
    font-size: 3vh;
    text-transform: uppercase;

}

.name-characatrer-link{
    flex: 1;
    
}