@import './variables.scss';

html,
body {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgba(var(--main-grey-background), 1);
    background-image: url('../images/Backgrounds/background-main.png');
    background-size: cover;
    background-position: 10%;
}

main.container {
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100vh;
}

.container-fluid,
.container-fluid.row {
    height: 100vh;
}

#app {
    height: 100vh;
}

.global-container {
    margin-top: 3rem;
    height: 98vh;
}

.container {
    max-width: 100%;
}

.navbar {
    margin-top: 0rem
}

.container-fluid {
    height: 80px;
}

.container {
    background-color: rgba(var(--main-white), 0);
}

.right-container {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.main-container .container {
    max-width: 100%;
}

.character-card,
.profil-user-card {
    flex: 1;
}

.main-container .row .col {
    border-right: 1px solid gray;
}

.themed-grid-col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(var(--main-white), 1);
    border: 1px solid rgba(86, 61, 124, .2);
}

.character-container {
    margin: 0.5rem;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 5rem 0;
}
.dashboard-mini-card-container {
    margin: 0 0 8rem 0;
    height: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 5rem 0;
}
.dashboard-medium-card-container {
    margin: 0 0 8rem 0;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 5rem 0;
}
.dashboard-max-card-container {
    margin: 0.5rem;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 5rem 0;
}
/* Scroll bar */

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--dark-green-01), 1) rgba(var(--dark-green-03), 1);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgba(var(--dark-green-03), 1);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(var(--dark-green-01), 1);
    border-radius: 20px;
    border: 3px solid rgba(var(--dark-green-03), 1);
}

.search-zone-container1 button,
.search-zone-container1 a,
.search-pagination-container button,
.search-pagination-container a,
.card-container.quick-action-card button,
.card-container.quick-action-card a,
.softDashbord,
#softDashbord .card-container .card-body {
    background-color: rgba(var(--dark-green-01), 1);
    color: rgba(var(--main-white), 1)
}

.character-card.card {
    max-width: 25rem;
    height: 25rem
}