@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../variables.scss';

#comment-container {
  width: 100%;
  padding: 8vh;
  margin: 2vh 0 4vh;
}
.message {
  margin-bottom: 20px;
}
.message__outer {
  align-items: flex-start;
}
.message__avatar {
  width: 70px;
  height: 70px;
  background-color: rgba(var(--dark-green-01), 0);
  margin-right: 1rem;
}
.message__bubble {
  background-color: rgba(var(--dark-green-01), 1);
  padding: 10px 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  max-width: 100vh;
}
.message__bubble p {
  margin: 0;
}
.message__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
.message__status {
  align-self: flex-end;
  font-size: 12px;
  color: rgba(var(--clear-green-02), 1);
  margin-top: 5px;
}
.message__spacer {
  flex-grow: 1;
}
/* Styles pour les messages alternés */
.message--right .message__outer {
  flex-direction: row-reverse;
}
.message--right .message__avatar {
  margin-right: 0;
  margin-left: 10px;
}
.message--right .message__bubble {
  background-color: rgba(var(--dark-green-01), 1);
}
.message--right .message__actions {
  justify-content: flex-start;
}
.message__avatar img {
  width: 70px;
  height: 70px;
}
.Comment-icon img{
  transform: scale(.3);
}
.Comment-icon > div > div.flex-one.display-flex-column{
  margin: -2rem 0 0 0;
}
#btn-submit-post-form{
  margin-top: 15vh;
}
.reaction-bar {
  gap:.4rem;
  flex-wrap:wrap;
}