@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../variables.scss';

.all-fictions-container-global{
    margin: 0 0 2vh -2vh;
    padding: 2vh 0 0 2vh;
}
.mini-rond-messages p{
    margin: 1vh 0 2vh 0;
}
/* Menu left */
.nav-link, .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: rgba(var(--main-white), 1);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: rgba(var(--clear-green-01), 1);
}
.nav-pills .nav-link.active:hover, .nav-pills .show>.nav-link:hover{
    color: rgba(var(--clear-green-01), 1);
    background-color: var(--active-hover);
}
.nav-link:focus, .nav-link:hover {
    color: var(--active-hover);
}
.logo-wrapper-contain .logo{
    flex: 0.25
}
.all-fictions-container-global .row-cols-md-4>* {
    flex: 1;
    width: 22%;
    height: 16vh;
    margin: 0 0 -5vh 0;
}
/* CARD */
.card.clan-detail-layout{
    background-color: rgb(var(--main-white), 0);
}
.fiction-container .card-header,
.fiction-container.all-fictions-container-global .card-header{
    padding: 0;
}
.original-character-contain.card-image{
    background-position: 50%;
}
.fiction-container.all-fictions-container-global .card-header{
    margin: -1rem 1rem 0 -1rem;
}
.avatar-container, .profil-user-card .avatar-container  {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.profil-user-card .card-body{
    margin: -20vh 0 0 0;
}
.dashboard-card-header .avatar-wrapper img {
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}
.fiction-summary-card h5.card-title{
    margin: 3vh 0 0 0;
}
.row.list-quest-card-container{
    margin: 5vh 0 0 15vh;
}
.all-characters-by-user-container .card-header{
    padding: 1rem 0 0 0;
}
/* IMAGE */
.clan-logo-container .btn.btn-primary img {
    width: 8vh;
}
.image-fiction-container{
    background-position: 50%;
}
.mini-rond-messages{
    margin: 0 0 0 -1rem;
    z-index: 99;
}
.rond-character-background{
    background-position: 50%;   
    vertical-align: bottom;
    border : 1vh solid rgba(var(--clear-green-01), 1);
}
.summary-container {
    padding: 2vh 1vh 0 0;
}
.summary-container .row.top-fiction{
    margin: 2vh 0 0 0;
}
.summary-container .row.top-fiction .kind-fiction-container {
    margin: -4vh 0 0 -1vh;
}
.all-fictions-container-global .row.search-bar-component{
    margin: -1vh 0 1vh 0;
}
.margin-top-2-rem, .input-name-margin{
    margin: 0.2rem 0 0 0;
}
.create-character-button{
    margin: 1.5rem 0 0 0;
    justify-content: right;
}
.mini-rond-avatar-image{
    object-fit: cover;
}
.table-row{
    padding: 0 2rem;
}
.table-row th, .table-row table td{
    font-family: 'Roboto';
    font-weight: 500;
}
.info-original-character-height{
    padding: 1rem;
}
.edit-overlay {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(var(--main-black), 0.5);
    color: rgb(var(--main-white), 1);
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
}
.file-input {
    display: none; /* Cache l'input file */
}

.right-column-image-container{
    margin: -5rem 0 0 0;
}

.quest-button-text p.quest-button-link {
    margin: -7vh 0 0 0;
}
/* Rating */
.rating {
    margin: -2rem 0 0 2rem;
}
.rating svg {
    flex: 1
}
.rating svg {
    cursor: pointer;
}
.rating svg.checked {
    fill: rgba(var(--active-hover), 1);
}
.send--message-by-container, .send--message-by-container p {
    margin: 1rem 1rem;
}
.list-group-item.messagerie-list-container p {
    margin: 0 0 0 1rem;
}
.star {
    fill: rgba(var(--ternary-green), 1);    /* Couleur des étoiles non sélectionnées */
    cursor: pointer;
    transition: fill 0.3s ease;
}
.star.checked {
    fill: rgba(var(--active-hover), 1);
}
.list-group-item{
    background-color: rgba(var(--active-hover), 0);
    border: solid 0px  rgba(var(--active-hover), 0);
}
.list-group-item:hover{
    background-color: rgba(var(--middle-green-02), 1);
    border: solid 0px  rgba(var(--middle-green-02), 1);
}
.custom-scroll-list {
    max-height: 70vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}
/* Scrollbar globale pour la liste des chapitres */
.all-chapter-ul-scroll::-webkit-scrollbar,
.background-color-dark-green-01::-webkit-scrollbar {
  width: 8px;
}
/* Couleur de fond de la scrollbar */
.all-chapter-ul-scroll::-webkit-scrollbar-track,
.background-color-dark-green-01::-webkit-scrollbar-track {
  background: rgba(var(--dark-green-01), 1); /* vert foncé */
  border-radius: 10px;
}
/* Barre de scroll */
.all-chapter-ul-scroll::-webkit-scrollbar-thumb,
.background-color-dark-green-01::-webkit-scrollbar-thumb {
  background-color: rgba(var(--clear-green-01), 1); /* vert clair */
  border-radius: 10px;
  border: 2px solid rgba(var(--dark-green-01), 1);
}
/* Au survol */
.all-chapter-ul-scroll::-webkit-scrollbar-thumb:hover,
.background-color-dark-green-01::-webkit-scrollbar-thumb:hover {
  background-color:  rgba(var(--dark-green-01), 1);
}
.upload-input-component .upload-image-input-container{
    margin: -2vh 0 0 0;
}
.information-global-character td{
    width: 5vh;
    height: 3vh;
}
.badge-genre {
    padding: 5px 10px;
    margin-right: 6px;
    border-radius: 20px;
    font-size: 0.85rem;
}
.location-group-margin{
    margin: 0 0 0 20vh;
}