@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../variables.scss';


/* BUTTON */
.btn-primary {
    background-color: rgba(var(--middle-green-02), 1);
    border: 1px solid rgba(var(--middle-green-02), 1);
}
.btn-primary:hover {
    background-color: rgba(var(--clear-green-01), 1);
    border: 1px solid rgba(var(--clear-green-01), 1);
    color: rgba(var(--middle-green-02), 1);
}

/* CARD */
/* .card-image{
    background-size: cover;
} */
.illustration-arc-container.card-image{
    background-size: contain;
}
.card-image img{
    width: 75%;
}
.fiction-container{
    display: flex;
    flex-direction: column;
}
.character-chapters-fiction-container,
.game-container{
    flex: 1;
}
.name-characatrer-text-card{
    text-align: center;
    font-size: 3vh;
    font-variant: small-caps;
}
.name-characatrer-link{
    flex: 1;    
}
.select-character-container{
    flex-wrap: wrap;
}
.select-character-container .form-check{
    width: 15rem;
}
.create-character-form,
.card-form-create-character .card-body{
    width: 100%;
    height: 70vh;
    overflow-x: hidden;    
    padding: 1rem;
}
.card-form-create-character .card-body{
    overflow-y: auto;
}
.create-character-form{
    overflow-y: hidden;
}
.create-character-form .text-area-container{
    height: 30rem;
}
.create-character-form > div:nth-child(2){
    height: 40vh;
}
.select-character-container img{
    width: 50%;
}
.avatar-container h2, input#upload-avatar{
    color: rgba(var(--main-white), 1)
}
.biographie-text{
    text-align: justify;
}
.one-fiction-container{
    padding: 1rem 0 0 0;
}
.one-fiction-container .image-fiction-container{
    flex: 0.25;
    width:  20rem;
    height: 20rem;
    background-size: cover;
    background-position: 40% 20%;
    border-radius: 2rem;
    margin-left: 2rem;
    margin-top: 6rem;
}
.dashboard-max-card-container.card.fiction-container table{
    color: rgba(var(--main-white), 1);
}
th{
    font-weight: 200;
}
.title-dashboard-container{
    display: flex;
    flex: 1;
    justify-content: right;
    text-align: right;
}
.bottom-dashboard .card{
    height: 40vh;
    margin: 1rem auto;
}
.chapter-global-content{
    display: flex;
    height: 70vh;
}
.chapter-image-content, .chapter-text-content{
    flex: 1
}
.chapter-image-content{
    width: 500px;
    background-size: cover;
    background-position: 20%;
    height: 700px;
    flex: 0.5;
}
.chapter-text-content{
    padding: 0.5rem;
}
.chapter-text-content p{
    text-align: justify;
}

.row.btn-generate-btn{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.logo img{
    width: 55%;
}
.logo-wrapper-contain .logo{
    flex: 0.25
}
.list-all-fictions-globale--container{
    width: 24rem;
}
.summaray-title-text{
    margin: 0 0 0 0.5rem;
    flex: 1;
}
.pagination-container{
    margin-top: 0;
}
.row.list-fiction-card-container{
    height: 35rem;
    padding: 1rem;
}
#dashboard .row.top-dashboard .card-global{
    margin: 0 auto;
}
.h5-container{
    height: 9vh;
}
.left-fiction-summary-container{
    display: flex;
    flex-direction: column;
    width: 20rem;
    justify-content: center;
    width: 20rem;
    align-content: center;
    align-items: center;
}
.left-fiction-summary-container .all-characters-of-fiction{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.fiction-container{
    height: 20vh;
    background-size: cover;
}
.book-container{
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.illustration-arc-container img{
    width: 100%;
}
.image-book-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.image-book{
    width: 90%;
    border-radius: 20px;
}
.user-info-text img{
    width: 100%;
}
.image-fiction-container-background{
    padding: 1rem 0 0.5rem 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    background-position: 50%;
    border-radius: 20px;
}

.fiction-summary-card{
    width: 25rem;
    height: 25vh;
    padding: 0 1rem 0 0.75rem;
    border-radius: 20% 12px 12px 20%;
}
.mini-rond-messages{
    background-color: rgba(var(--active-hover), 1);
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem 0 0 0;
}
.mini-rond-messages p{
    color: rgba(var(--dark-green-02), 1)
}
audio{
    width: 14rem;
}
.rond-character-background{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    background-position: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    vertical-align: bottom;
}
.character-details-router a {
    font-size: 0.85em;
}

.all-characters-by-user-container{
    height: 20rem;
    overflow-y: scroll;
}
.image-width{
    width: 45%;
    height: 45%;
}
.list-all-characters-container{
    padding: 0rem 2rem 0 4rem;
}
.all-my-characters-container{
    height: 110vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 3rem;
    margin: 0 auto;

}
.card.individual-character-card{
    height: 45vh;
}
.original-character-contain.card-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.btn-position{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: rgba(var(--clear-green-01), 1);
    background-color: rgba(var(--dark-green-01), 1);
}
.nav-pills .nav-link.active:hover, .nav-pills .show>.nav-link:hover{
    color: rgba(var(--clear-green-01), 1);
    background-color: var(--active-hover);
}
.nav-link{
    color: rgba(var(--clear-green-01), 1);
}
.nav-link:focus, .nav-link:hover {
    color: var(--active-hover);
}
.card.location-clan-background-width-container{
    width: 20rem;
    border-radius: 50% 50% 0 0;
    background-color: rgba(var(--dark-green-02), 1);
}
.create-character-button{
    margin: 1.5rem 0 0 0;
    display: flex;
    justify-content: right;
}