@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '../variables.scss';
/* dice.css */
.dice {
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 1s ease-in-out;
  }
  
  .dice .face {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .dice .face1 { transform: rotateY(0deg) translateZ(25px); }
  .dice .face2 { transform: rotateY(90deg) translateZ(25px); }
  .dice .face3 { transform: rotateY(180deg) translateZ(25px); }
  .dice .face4 { transform: rotateY(-90deg) translateZ(25px); }
  .dice .face5 { transform: rotateX(90deg) translateZ(25px); }
  .dice .face6 { transform: rotateX(-90deg) translateZ(25px); }
  
  .show-1 { transform: rotateX(0deg) rotateY(0deg); }
  .show-2 { transform: rotateX(0deg) rotateY(90deg); }
  .show-3 { transform: rotateX(0deg) rotateY(180deg); }
  .show-4 { transform: rotateX(0deg) rotateY(-90deg); }
  .show-5 { transform: rotateX(90deg) rotateY(0deg); }
  .show-6 { transform: rotateX(-90deg) rotateY(0deg); }
  
  @keyframes roll {
    0% { transform: rotateX(0) rotateY(0); }
    100% { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  }
  
  .dice.rolling {
    animation: roll 1s ease-in-out;
  }
  .result-roll-dice{
    display: flex;
    flex-direction: row;
  }
  .game-card p{
    color: rgba(var(--main-white), 1)
  }
  .game-roll-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }