@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../variables.scss';

.all-characters-of-fiction > button, .image-fiction-container{
    width: 25vh;
}
.image-fiction-container {
    height: 13vh;
    border-radius: 12px;
}
.carousel {
    width: 14rem;
}
.carousel__item img {
    width: 100px;
}
th {
    font-weight: 200;
}
.bottom-dashboard-levele-one .card {
    height: 40vh;
    margin: 1rem auto;
}
.chapter-image-content {
    width: 500px;
    background-position: 20%;
    height: 700px;
    flex: 0.5;
}
.chapter-text-content {
    padding: 0.5rem;
}
.Comment-icon {
    margin: 2rem 0rem 0 0.5rem;
}
.Comment-icon > div{
    margin: -.5rem 0rem 0 0;
}
.fiction-global-informarion-container-hearder{
    height: 10rem;
}
.chapter-text-content {
    height: 65vh;
}
.card-header.fiction-chapter-container {
    margin: -2rem -2rem 0 0;
}
.card-header.fiction-chapter-container h1 {
    margin-left: 10rem;
}
.card-header.fiction-chapter-container h1,
.title-author-container h1.chapter-title {
    font-variant: small-caps;
    font-weight: 600;
    font-family: 'Montserrat';
}
.title-author-container{
    margin: 2rem 0 0 0;
}
.card-header.fiction-chapter-container h3 {
    margin-left: 2rem;
    font-variant: small-caps;
}
.link-to-fiction-text {
    font-family: var(--roboto-text);
    font-variant: small-caps;
}
.dashboard-max-card-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(var(--main-black), 0.1);
}
.dashboard-max-card-container.card-height .card-body{
    height: 80vh;
}
.chapter-title-content {
    text-align: center;
}
.chapter-title {
    font-size: 2em;
    margin-bottom: 20px;
    font-size: 3rem;
}
.chapter-global-content {
    height: 70vh;
}
.chapter-image-content {
    margin: 0;
    flex: 1;
    background-position: 75%;
    border-radius: 1rem 0 0 1rem;
    height: 70vh;
}
.chapter-text-content {
    flex: 2;
    overflow: auto;
    height: 70vh;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 0 3rem 3rem 0;
    box-shadow: inset 0 0 10px rgba(var(--main-black), 0.1);
}
.chapter-text-content p {
    line-height: 1.6;
    font-size: 1.1em;
}
.chapter-button-content {
    margin: 0rem 0 1rem 0;
    gap: 1rem;
}
.character-chapters-fiction-container .character-chapters-container {
    width: 75rem;
}
.illustration-background {
    width: 183vh;
    height: 77vh;
    margin: 0;
}
.original-character-image-container img{
    width: 100%;
}
.gap-2{
    width: 28rem;
}
.all-chapters-list-container {    
    width: 52vh;
    padding: 0 1rem;
    overflow: auto;
}
.character-chapters-container img {
    width: 40%;
}
.summary-height-container{
    height: 60vh;
    padding: 1rem;
}
.summary-container {
    height: 70vh;
    padding: 0 1rem;
    width: 100rem;
    overflow: hidden;
}
.back-to-all-fictions-container > div {
    margin: 3rem 0 0 0;
}
.card.fiction-container .card-header h4 {
    padding: 0;
    width: 100%;
    height: 2.5rem;
}
.fiction-container .card-header h4 {
    font-family: var(--montserratRegular);
}
.rond-image-illustration {
    flex: 0.25
}
.rond-image-illustration img {
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    aspect-ratio: 1;
}
.row.bottom-top-dashboard {
    margin-top: 1rem;
}
.row.bottom-dashboard-levele-one {
    margin: 0.75rem 0 1rem -0.75rem;
}
.row.bottom-left-dashboard{
    margin: 1rem 0 0 -0.75rem;
}
.fiche-fiction {
    background-color: rgba(var(--middle-green-01), 1);
}
.fiche-fiction h5,.fiche-fiction p {
    color: rgba(var(--main-white), 1)
}
.fiche-fiction .link-text-a {
    color: rgba(var(--active-hover), 1)
}
.card-text.summary-text-font{
    padding: 0.5rem 0 0 0;
}
#edit-chapter-contain{
    width: 140vh;
    height: 80vh;
    margin: 5rem auto;
}
#edit-chapter-contain .character-details-chatper.card.mb-3.fiction-container{
    height: 75vh;
}
.create-chapter-card-container{
    height: 85vh;
}
.back-to-all-fictions-container{
    margin: -2rem 0.25rem 0 0;
}
.Comment-icon .flex-one .btn{    
    margin: -0.5rem 0 0 0;

}