@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../variables.scss';

.character-chapters.display-flex-column.fiction-container.background-summary-global-container{
    flex: 0.75;
}
.all-characters-of-fiction > button{
    width: 35vh;
}
.image-fiction-container {

    height: 20vh;
    width: 35vh;
    border-radius: 12px;

}
.character-details-router {
    text-align: justify;
}
.carousel {
    width: 19rem;
}
.carousel__item img {
    width: 120px;
}
th {
    font-weight: 200;
}
.title-dashboard-container {
    flex: 1;
    justify-content: right;
    text-align: right;
}
.bottom-dashboard .card {
    height: 40vh;
    margin: 1rem auto;
}
.chapter-image-content,
.chapter-text-content {
    flex: 1
}
.chapter-image-content {
    width: 500px;
    background-size: cover;
    background-position: 20%;
    height: 700px;
    flex: 0.5;
}
.chapter-text-content {
    padding: 0.5rem;
}
.chapter-text-content p {
    text-align: justify;
}
.Comment-icon {
    width: 13rem;
    margin: 0 2rem 0 0;
}
.chapter-text-content {
    height: 65vh;
    overflow-y: scroll;
}
.title-author-container {
    flex: 1;
    text-align: center;
}
.card-header.fiction-chapter-container {
    margin: -2rem -2rem 0 0;
}
.card-header.fiction-chapter-container h1 {
    margin-left: 10rem;
}
.card-header.fiction-chapter-container h1,
.title-author-container h1.chapter-title {
    font-variant: small-caps;
    font-weight: 600;
    font-family: 'Montserrat';
}
.card-header.fiction-chapter-container h3 {
    margin-left: 2rem;
    font-variant: small-caps;
}
.character-chapters-fiction-container {
    margin: 0rem 0 0 2rem;
    text-align: justify;
    width: 75rem;
}
.link-to-fiction-text {
    font-family: var(--roboto-text);
    font-variant: small-caps;
}
.dashboard-max-card-container {
    background:  var(--linear-greendark-clear);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(var(--main-black), 0.1);
}
.chapter-title-content {
    text-align: center;
}
.chapter-title {
    font-size: 2em;
    color: rgba(var(--main-white), 1);
    margin-bottom: 20px;
    font-family: 'Cinzel';
    font-size: 3rem;
}
.chapter-global-content {
    height: 70vh;
}
.chapter-image-content {
    margin: 0;
    flex: 1;
    background-size: cover;
    background-position: 50%;
    border-radius: 1rem 0 0 1rem;
    height: 67vh;
}
.chapter-text-content {
    flex: 2;
    overflow: auto;
    height: 38rem;
    padding: 1rem;
    background-color: rgba(var(--main-white), 1);
    border-radius: 0 0 3rem 0;
    box-shadow: inset 0 0 10px rgba(var(--main-black), 0.1);
}
.chapter-text-content p {
    line-height: 1.6;
    font-size: 1.1em;
    color: rgba(var(--main-black), 1);
}
.chapter-button-content {
    margin: 2rem 0 2rem 0;
    gap: 2rem;
    align-items: center;
    align-content: center;
    justify-content: right;
}
.character-chapters-fiction-container .character-chapters-container {
    width: 75rem;
}
.illustration-background {
    width: 77rem;
}
.all-chapters-list-container {    
    width: 40rem;
    padding: 1rem;
}
.character-chapters-container img {
    width: 50%;
}
.summary-container {
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 1rem;
    margin: 1rem;
    width: 35rem;
}
.create-chapter-btn-container .btn {
    width: 15rem;
}
.card.fiction-container .card-header h4 {
    padding: 0;
    width: 100%;
    height: 2.5rem;
}
.fiction-container .card-header {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.fiction-container .card-header h4 {
    font-family: var(--montserratRegular);
}
.rond-image-illustration {
    flex: 0.25
}
.rond-image-illustration img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    aspect-ratio: 1;
}
.row.bottom-top-dashboard {
    margin-top: 1rem;
}
.row.bottom-dashboard {
    margin-top: -0.75rem;
}
.fiche-fiction {
    background-color: rgba(var(--middle-green-01), 1);
}
.fiche-fiction h5,
.fiche-fiction p {
    color: rgba(var(--main-white), 1)
}
.fiche-fiction .link-text-a {
    color: rgba(var(--active-hover), 1)
}
.character-illustration-container{
    flex: 0.5;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px 20px 20px 20px;
    height: 9rem;
}
.card-text.summary-text-font{
    padding: 0;
}
#edit-chapter-contain{
    width: 140vh;
    height: 80vh;
    margin: 5rem auto;
}
#edit-chapter-contain .character-details-chatper.card.mb-3.fiction-container{
    height: 75vh;
}