@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../variables.scss';

.parallax-container {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.parallax-layer {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.1s ease-out;
}
.card-container-parallax {
  align-items: flex-end;
  vertical-align: middle;
  margin: 5rem 20rem 0 0;

}
.card-container-parallax .card {
  width: 325px;
  height: 350px;
  background-color: rg;
  position: relative;
  z-index: 99999999;
}

#quest-by-id {
  width: 185vh;
  height: 95vh;
  padding: 0;
  overflow: hidden;
}
.quest-by-id-card .card-body{
  height: 85vh;
}
#quest-by-id .quest-by-id-card.card.quest-by-id-card.background-color-main-lineart {
  height: 106vh;
}
#quest-by-id .parallax-container {
  position: relative;
  height: 74vh;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 10rem;
  transform-style: preserve-3d;
}
#quest-by-id .parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 105vh;
  transition: transform 1s ease;
}
#quest-by-id .chat-image {
  position: absolute;
  z-index: 4;
  bottom: -20%;
  left: 80%;
  transform: translateX(-50%);
  width: 400px;
  height: auto;
}
#quest-by-id .quest-details {
  position: relative;
  z-index: 5;
  background-color: rgba(var(--main-white), 0.8);
  padding: 0.05rem 1rem;
  border-radius: 8px;
  text-align: center;
}
#quest-by-id .interactive-elements .clickable {
  position: absolute;
  padding: 0.5rem 1rem;
  background-color: rgba(var(--main-white), 0.5);
  color: rgba(var(--main-white), 1);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#quest-by-id .interactive-elements .clickable:hover {
  background-color: rgba(var(--main-black), 0.7);
}
#quest .toast-container.position-fixed.bottom-0.end-0.p-3 {
  width: 350px;
  height: 350px;
  z-index: 9999999;
  position: fixed ! important;
  top: 2rem;
  left: 5rem
}
/* Parallax effect */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.parallax-layer-back {
  transform: translateZ(-1px) scale(2);
}
.parallax {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
.parallax img {
  display: block;
  width: 100%;
}
.bubble-dialog {
  position: relative;
  background: rgba(var(--main-white), 1);
  border-radius: 15px;
  padding: 15px;
  max-width: 300px;
  text-align: center;
  font-family: 'Cinzel', serif;
}
.bubble-dialog:after {
  content: '';
  position: absolute;
  bottom: 80px;
  left: -30px;
  border-width: 0 100px 100px 0;
  border-style: solid;
  border-color: rgba(var(--main-white), 1) transparent;
  transform: rotate(45deg);
}
img.key-object-img {
  position: relative;
  z-index: 999999;
  transform: scale(.25);
  top: -35rem;
  left: 2rem
}
@keyframes rotate {
  from {
    transform: rotate(0deg) rotateX(0deg);
  }

  to {
    transform: rotateY(50deg) rotateX(0);
  }

  to {
    transform: rotateY(0) rotateX(0);
  }
}
.highlight-effect {
  animation: flash 5s ease-out;
  background-color: rgba(var(--dark-green-01), 1);
  height: 16rem;
  width: 20rem;
  color: rgba(var(--main-white), 1);
  position: relative;
  z-index: 99999999999;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 1rem 0;
  vertical-align: middle;
}
@keyframes flash {

  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeOut 0.5s forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}
.card.card-object-container {
  display: flex;
  flex-direction: column;
  height: 6rem;
}