@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '../variables.scss';
#quest-by-id {
  width: 100%;
  height: 95vh;
  margin: 0.5rem auto;
}

#quest-by-id .quest-by-id-card {
  width: 100%;
  background: var(--linear-greendark-clear);
}

#quest-by-id .parallax-container {
  position: relative;
  width: 100%;
  height: 78vh;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 10rem;
  transform-style: preserve-3d;
}

#quest-by-id .parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105vh;
  transition: transform 1s ease;
}

#quest-by-id .chat-image {
  position: absolute;
  z-index: 4;
  bottom: -20%;
  left: 80%;
  transform: translateX(-50%);
  width: 400px;
  /* Adjust size as needed */
  height: auto;
}

#quest-by-id .quest-details {
  position: relative;
  z-index: 5;
  background-color: rgba(var(--main-white), 0.8);
  padding: 0.05rem 1rem;
  border-radius: 8px;
  text-align: center;
}

#quest-by-id .interactive-elements .clickable {
  position: absolute;
  padding: 0.5rem 1rem;
  background-color: rgba(var(--main-white), 0.5);
  color: rgba(var(--main-white), 1);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#quest-by-id .interactive-elements .clickable:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#quest .toast-container.position-fixed.bottom-0.end-0.p-3 {
  width: 350px;
  height: 350px;
  z-index: 9999999;
  position: fixed ! important;
  top: 2rem;
  left: 5rem
}
/* Parallax effect */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.parallax-layer-back {
  transform: translateZ(-1px) scale(2);
}
.parallax {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.parallax img {
  display: block;
  width: 100%;
}

@keyframes rotate {
  from {
      transform: rotate(0deg) rotateX(0deg);
  }

  to {
      transform: rotateY(50deg) rotateX(0);
  }

  to {
      transform: rotateY(0) rotateX(0);
  }
}