@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../variables.scss';

.parallax-container {
  position: relative;
}
.parallax-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: transform 1s ease-out;
  background-size: contain;
  background-position: center;
  pointer-events: none;
  background-repeat: no-repeat ;
}
.card-container-parallax {
  align-items: flex-end;
  vertical-align: middle;
  margin: 12vh 120vh 0 0;
}
.card-container-parallax .card {
  position: relative;
  z-index: 99999999;
}
#quest-by-id {
  padding: 0;
  overflow: hidden;
}
.quest-by-id-card .card-body{
  height: 85vh;
}
#quest-by-id .parallax-container {
  position: relative;
  perspective: 20vh;
  transform-style: preserve-3d;
  background-repeat: no-repeat;
  width: 177vh;
}

#quest-by-id .quest-details {
  position: relative;
  z-index: 8;
  background-color: rgba(var(--main-white), 0.8);
  padding: 1vh;
  text-align: center;
}
#quest-by-id .interactive-elements .clickable {
  position: absolute;
  padding: 0.5rem 1rem;
  background-color: rgba(var(--main-white), 0.5);
  color: rgba(var(--main-white), 1);
  cursor: pointer;
  transition: background-color 0.3s;
}
#quest-by-id .interactive-elements .clickable:hover {
  background-color: rgba(var(--main-black), 0.7);
}
#quest .toast-container.position-fixed.bottom-0.end-0.p-3 {
  width: 350px;
  height: 350px;
  z-index: 9999999;
  position: fixed ! important;
  top: 2rem;
  left: 5rem
}
/* Parallax effect */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax-layer-back {
  transform: translateZ(-1px) scale(2);
}
.parallax {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
.parallax img {
  display: block;
  width: 100%;
}
.bubble-dialog {
  position: relative;
  background: rgba(var(--main-white), 1);
  padding: 15px;
  max-width: 300px;
  text-align: center;
  font-family: 'Cinzel', serif;
}
.bubble-dialog:after {
  content: '';
  position: absolute;
  bottom: 80px;
  left: 30vh;
  transform: rotate(-135deg);
  border-width: 0 100px 100px 0;
  border-style: solid;
  border-color: rgba(var(--main-white), 1) transparent;    
}
img.key-object-img {
  position: relative;
  z-index: 999999;
  transform: scale(.25);
  top: -5vh;
  left: -54vh;
}
@keyframes rotate {
  from {
    transform: rotate(0deg) rotateX(0deg);
  }

  to {
    transform: rotateY(50deg) rotateX(0);
  }

  to {
    transform: rotateY(0) rotateX(0);
  }
}
.highlight-effect {
  animation: flash 5s ease-out;
  background-color: rgba(var(--dark-green-01), 1);
  height: 16rem;
  width: 20rem;
  color: rgba(var(--main-white), 1);
  position: relative;
  z-index: 99999999999;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 1rem 0;
  vertical-align: middle;
}
@keyframes flash {

  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeOut 0.5s forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}
.card.card-object-container {
  display: flex;
  flex-direction: column;
  height: 6rem;
  background-color: rgba(var(--main-white), 0);
  border: none;
}
#quest-by-id .parallax-container{
  background-repeat: no-repeat;
}
.quest-container {
  position: relative;
}
/* .quest-card {
  background: none;
  box-shadow: none;
} */
/* .quest-body {
  position: relative;
  overflow: hidden;
} */
/* .parallax-wrapper {
  position: relative;
  min-height: 80vh;
  overflow: hidden;
} */
/* .parallax-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
} */
.quest-content {
  position: relative;
  z-index: 10;
}