@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '../variables.scss';
.hidden {
    opacity: 0;
    transform: translateX(-100%); /* Initialement, les éléments sont hors de l'écran */
    transition: all 2s ease-in-out;
  }
  
  .slide-in {
    opacity: 1;
    transform: translateX(0); /* Les éléments glissent vers leur position initiale */
  }
  
@keyframes slideInRight {
    0% {
        transform: translateX(120%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
h2{
    font-weight: 600;
    text-shadow: rgba(var(--dark-green-01), 1) 2px 0px 10px;
}
.mentions-legales-text .card{
    background-color: rgba(var(--clear-green-02), 0);
}
#accueil .parallax {
    perspective: -5px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}
#accueil .parallax .image-one {
    transform: translateZ(-1px) scale(2.25);
    background-attachment: fixed;
}
#accueil .parallax img {
    display: block;
    max-width: 100%;
    height: auto;
}
#accueil {
    width: 225vh;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 0.5) 0%, rgba(var(--clear-green-02), 0.5) 100%);
    color: rgba(var(--main-white), 1)
}
#accueil main, #accueil .cover-container {
    height: 100vh;
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 0.5) 0%, rgba(var(--clear-green-02), 0.5) 50%);
    background-size: cover;
    transform: translate3d(0px, 0, 0);
}

#accueil #parallax .video-container{
    background-image: var(--background-home);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate3d(0, 0, 0);
    background-position: 20%;
}
#accueil .container.marketing{
    margin-top: 10rem;
}
#accueil nav.bg-dark, #accueil nav .container-fluid {
    background-color: rgba(var(--main-black), 1);
}
#accueil header {
    background-color: rgba(var(--main-black), 1);
  }
#accueil .accueil-header {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 210vh;
    height: 100vh;
    position: relative;
}
#accueil .video-container{
    flex: 1;
    width: 105%;
    height: 105vh;
    position: relative;
    margin: -0.5rem 0 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}
#accueil video{
    width: 217vh;
    position: absolute;
    top: -2%;
    left: 0rem;
}
.accueil-title-image-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    position: absolute;
    top: 10rem;
    width: 208vh;
}
#accueil .title-accueil, #accueil .image-accueil {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 575vh;    
}
#accueil .title-accueil{
    flex-direction: column;
}
#accueil h1 {
    margin: -25rem 0 5rem -20rem;
    text-align: center;
    width: 100%;
    font-family: 'Cinzel';
    font-size: 124px;
    font-weight: 600;
    color: rgba(var(--main-white), 1);
    position: relative;
    animation: slideInLeft 3s ease-out;
    text-shadow: #FC0 1px 0 10px;
}
#accueil .title-accueil h2 {
    margin: 4rem 0 0 0;
    width: 95%;
    font-family: var(--montserratMedium);
    font-size: 48px;
    font-weight: 600;
    color: rgba(var(--main-white), 1);
    position: relative;
    animation: slideInLeft 3s ease-out;
    word-wrap: break-word;
    text-shadow: #198754 2px 2px 1px;
    text-align: center;
}
#accueil span.text-body-secondary{
    color: rgba(var(--main-white), 1) !important
}
#accueil li.nav-item{
    flex: 1;
    display: flex;
    text-transform: capitalize;
    font-variant: small-caps;
}
#accueil .col-md-5{
    display: grid;
    vertical-align: middle;
    padding: 1rem;
}
#accueil .col-md-5.text-accueil-container{
    display: grid;
    vertical-align: middle;
    padding: 1rem;
    background-color: rgba(var(--dark-green-01), 0.55);
}
#accueil .image-row-second{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: left;
}
#accueil .image-row-second img{
    width: 500px;
}
#accueil p.lead{
    text-align: justify;
}
#accueil .navbar-brand img {
    margin: 8vh 0 0 26vh;
}
#accueil .image-accueil .image-one {
    animation: slideInRight 2s ease-out;
    position: absolute;
    margin: -25rem 0 0 13rem;
    z-index: 1;
    width: 100%;
}
#accueil .image-accueil .image-one img {
    width: 90%;
}
#accueil .image-accueil {
    position: relative;
}
#accueil .p-3 {
    padding: 0;
}
#accueil .image-rond img {
    width: 200px;
}
#accueil .col-image-rond {
    margin: 0 0 0 0.2;
}
.slide-in-left, .slide-in-up, .slide-in-right{
    opacity: 1;
}
.slide-in-left {
    transform: translateX(0);
    animation: slideInLeft 1s forwards;
}
.slide-in-up {
    transform: translateY(0);
    animation: slideInUp 1s forwards;
}
.slide-in-right {
    transform: translateX(0);
    animation: slideInRight 1s forwards;
}
#accueil .accueil-image-one, #accueil .accueil-image-tree{
    margin: 0 0 0 10rem;
}
#accueil .accueil-image-one{
    background-image: var(--accueil-img1);
}
#accueil .accueil-image-two{
    margin: 0rem 10rem 0 2rem;
    background-image: var(--accueil-img2);
}
#accueil .accueil-image-tree{
    background-image: var(--accueil-img3);
}
#accueil .accueil-image-one, #accueil .accueil-image-two, #accueil .accueil-image-tree{
    width: 400px;
    height: 400px;
}
#accueil .accueil-image-one, #accueil .accueil-image-tree{
    background-position: 50%;
}
#accueil .accueil-image-two{
    background-position: 20%;
}
#accueil .text-body-secondary{
    color: rgba(var(--main-white), 1)!important;
}
#mentions-legales-page {
    margin: 5rem;
    height: 90vh;
    overflow-y: scroll;
}
#about-page{
    margin: 0 3rem -5rem 3rem;
    padding: 2rem 0;
    overflow: hidden;
}
#accueil footer.container{
    background-color: rgba(var(--main-black), 1);
    min-width: 214vh;
    margin: 0 0 0 0;
}
 #accueil #summary-container p{
    text-align: justify;
    word-wrap: normal;
    word-break: normal;
    font-family: 'Open Sans';
    font-size: 1.5em;
    padding: 1rem;
    background-color: rgba(var(--dark-green-01), 0.25);
}
 footer p{
    margin: -2rem 0 0 0;
}
footer .col-2.display-flex-row.align-items-content-justify-content.vertical-align-middle img{
    width: 55%;
}