@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './variables.scss';

.col-11.col-lg-11 {
    height: 100vh;
    overflow-y: auto;
}

.character-card-group .card-group {
    display: flex;
    flex-direction: column;
    height: 95vh;
}

.character-details.card::after {
    content: url('../../../public/images/cat2.svg');
    position: absolute;
    top: -12%;
    left: 90%;
    z-index: 99999;
}

.character-details.card .card-image {
    display: flex;
    justify-content: center;
    background-size: cover;
    border-radius: 20% 0 0 20%;
    border-top: 1rem solid rgba(var(--clear-green-02), 1);
    border-bottom: 1rem solid rgba(var(--clear-green-02), 1);
    border-left: 1rem solid rgba(var(--clear-green-02), 1);
    height: 40rem;

}

.character-card-group {
    display: flex;
    flex-direction: column;
}

.character-container-global {
    height: 100vh;
    width: 180vh;
    margin-top: 2rem;
}



.character-card.card {
    /* background: linear-gradient(90deg, rgba(var(--dark-green-01), 1), rgba(var(--clear-green-02), 1)); */
    background-color: rgba(var(--dark-green-01), 1);
    border: none;
    color: rgba(var(--main-white), 1);
    font-family: var(--opensans-text);
    margin: 1rem 1rem 0 0;
    width: 20rem;
    flex: 1;
    min-width: 20rem;
    padding: 0rem 1rem 1rem 1.5rem;
    text-align: center;
    max-width: 20rem;
    height: 40rem
}
#all-characters-container-card .character-card.card {
    background-color: rgba(var(--dark-green-02), 1);
    border: none;
    color: rgba(var(--main-white), 1);
    font-family: var(--opensans-text);
    margin: 1rem 2rem 0 2rem;
    width: 10rem;
    flex: 1;
    min-width: 17rem;
    padding: 0rem 1rem 1rem 1.5rem;
    text-align: center;
    max-width: 17rem;
    height: 20rem;
}
/* Parallax effect */
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.parallax-layer-back {
    transform: translateZ(-1px) scale(2);
}
.character-details.card .card-image {
    display: flex;
    justify-content: center;
    background-size: cover;
    border-radius: 20% 0 0 20%;
    border-top: 1rem solid rgba(var(--clear-green-02), 1);
    border-bottom: 1rem solid rgba(var(--clear-green-02), 1);
    border-left: 1rem solid rgba(var(--clear-green-02), 1);
    height: 40rem;
}

.card-image img {
    width: 75%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


.dashboard-mini-card-container.card {
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 1), rgba(var(--clear-green-02), 1));
    border: none;
    color: rgba(var(--main-white), 1);
    font-family: var(--opensans-text);
    margin: 2rem 2rem 0 0;
    flex: 1;
    min-width: 25rem;
    padding: 2rem;
    height: 20vh;
}

.dashboard-mini-card-container.card::before {
    content: url('../images/icons/cat-corner.svg');
    width: 10px;
    height: 10px;
    position: relative;
    top: -4rem;
    left: 22rem
}

.dashboard-medium-card-container.card {
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 1), rgba(var(--clear-green-02), 1));
    border: none;
    color: rgba(var(--main-white), 1);
    font-family: var(--opensans-text);
    margin: 2rem 2rem 0 0;
    flex: 1;
    min-width: 25rem;
    padding: 2rem;
    height: 24vh;
}

.dashboard-medium-card-container.card::before {
    content: url('../images/icons/cat-corner.svg');
    width: 10px;
    height: 10px;
    position: relative;
    top: -4rem;
    left: 22rem;

    height: 52vh;
}

.dashboard-max-card-container.card {
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 1), rgba(var(--clear-green-02), 1));
    border: none;
    color: rgba(var(--main-white), 1);
    font-family: var(--opensans-text);
    margin: 3rem 0 0 0;
    flex: 1;
    width: 105rem;
    min-width: 105rem;
    padding: 2rem;
    height: 53rem;
    overflow-y: hidden;
}

.form-character-container-global .card {
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 1), rgba(var(--clear-green-02), 1));
    border: none;
    color: rgba(var(--main-white), 1);
    font-family: var(--opensans-text);
    margin: 3rem 0 0 0;
    flex: 1;
    width: 105rem;
    min-width: 105rem;
    padding: 2rem;
    height: 53rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

.dashboard-fiction-game-card-container.card {
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 1), rgba(var(--clear-green-02), 1));
    border: none;
    color: rgba(var(--main-white), 1);
    font-family: var(--opensans-text);
    margin: 0rem 10rem 0 -4rem;
    flex: 1;
    width: 120rem;
    min-width: 100rem;
    padding: 2rem;
    height: 51rem;
    overflow-y: scroll;
}

.dashboard-home-max-card-container.card {
    background: none;
    border: none;
    color: rgba(var(--main-white), 1);
    font-family: var(--opensans-text);
    margin: 1rem 1rem 0rem 0rem;
    flex: 1;
    width: 100%;
    padding: 1.5rem;
    height: 100%;
    /* overflow-y: auto; */
}

.fiction-globale-container.card.fiction-container {
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 1), rgba(var(--clear-green-02), 1));
    border: none;
    color: rgba(var(--main-white), 1);
    font-family: var(--opensans-text);
    margin: 4.5rem 5rem 0 1rem;
    flex: 1;
    width: 105rem;
    min-width: 105rem;
    padding: 0rem;
    height: 51rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

.dashboard-home-max-card-container .row .card {
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 1), rgba(var(--clear-green-02), 1));
    border: none;
    position: relative;
}

.dashboard-max-card-container.card.fiction-container {
    margin: 5rem 2rem 2rem 2rem;
    height: 85vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem auto;
}

.dashboard-fiction-game-card-container.card {
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 1), rgba(var(--clear-green-02), 1));
    border: none;
    color: rgba(var(--main-white), 1);
    font-family: var(--opensans-text);
    margin: 0rem 10rem 0 -4rem;
    flex: 1;
    width: 120rem;
    min-width: 100rem;
    padding: 2rem;
    height: 51rem;
    overflow-y: scroll;
}

.dashboard-max-card-container::before,
.dashboard-fiction-game-card-container::before,
.fiction-globale-container::before {
    content: url('../images/icons/cat-corner.svg');
    width: 10px;
    height: 10px;
    position: relative;
    top: -4rem;
    left: 90%
}

.character-card.card::before {
    content: url('../images/icons/cat-corner.svg');
    width: 10px;
    height: 10px;
    position: relative;
    top: -2rem;
    left: 14rem;
}


/* 
.top-dashboard, .bottom-dashboard{
    height: 45vh;
} */
/* Character Details */

.character-details {
    margin: 2rem 1rem 0 0;
    width: 100rem;
    height: 51rem;
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 0) 0%, rgba(var(--clear-green-02), 0) 100%);
    padding: 1rem 1rem 1rem 1rem;
    perspective: 5rem;

}
.parallax {
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
  }
  
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .parallax__layer--base {
    transform: translateZ(0);
  }
  
  .parallax__layer--back {
    transform: translateZ(-1px) scale(2);
  }
  
  .parallax img {
    display: block;
    width: 100%;
  }
@keyframes rotate {
    from {
        transform: rotate(0deg) rotateX(0deg);
    }

    to {
        transform: rotateY(50deg) rotateX(0);
    }
    to {
        transform: rotateY(0) rotateX(0);
    }
}

.character-details.card .card-image img {
    width: 75%;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
    /* Animation continue */
}
.vegetal-container{
    background-image: url('/images/Backgrounds/herbePNG.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 0 20%;
    background-position: 80% 100%;
    position: relative
}

.vegetal-container img{
position: absolute;
top: 15%;
left: 35%
}
/* .card-image img{
    width: 75%;
} */

.profil-user-card {
    background: linear-gradient(90deg, rgba(var(--dark-green-01), 1) 0%, rgba(var(--clear-green-02), 1) 100%);
}

.clan-card {
    width: 30rem;
    height: 20rem;
    border-radius: 12px 12px 0 0;
    background-position: 50%;
}

.card-image-layout {
    width: 95rem;
    margin: 4rem 0 0 3rem;

}

.clan-detail-card {
    width: 65rem;
    height: 40rem;
    background-position: 50%;
    border-radius: 20px 0 0 20px;
    background-color: rgba(var(--main-white), 0);
    margin: 5rem 0 0 0;
    border-top: 1rem solid rgba(var(--clear-green-02), 1);
    border-bottom: 1rem solid rgba(var(--clear-green-02), 1);
    border-left: 1rem solid rgba(var(--clear-green-02), 1);
}
.clan-detail-layout .card-body{
    height: 45rem;
    background-color: rgba(var(--main-white), 1);
}
.clans-location-container {
    margin: 0 0 5rem 0;
}

.character-card.card .card-image {
    display: flex;
    justify-content: center;
    background-size: cover;
    height: 250px;
    width: 250px;
    border-radius: 100% 100% 0 0;
    border: 6px solid rgba(var(--clear-green-02), 1);
}

.character-container h3 {
    font-variant: small-caps;
}

.character-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card.card-image-layout.clan-detail-layout.mb-3 {
    width: 95rem;
    display: flex;
    flex-direction: row;
    border-radius: 20px 0 0 20px;
    background-color: rgba(var(--main-white), 0);
}

.card.card-image-layout.clan-detail-layout.mb-3 .card-image-layout {
    width: 95rem;
    margin: 4rem 0 0 3rem;
}

.card.card-image-layout.clan-detail-layout.mb-3 .card-body {
    height: 50rem;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    border-radius: 20px;
}

/* USER */

.profil-user-card .card-body {
    display: flex;
    flex-direction: row;
}

.avatar-container,
.avatar-container img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.dashboard-home-max-card-container .avatar-container img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.dashboard-home-max-card-container .avatar-container {
    width: 5vh;
    height: 5vh;
    margin-top: -1.5rem;
}

/* .avatar-container img {
    width: 250px;
    height: 245px;
} */
.form-profil-user-card {
    margin-top: 3rem;
    height: 20vh;
}

.all-clans-cards .card-body {
    height: 35vh;
}

.character-details .col-md-4 {
    padding-top: 14vh;
}


.card-form-create-character {
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: baseline;
    flex: 1;
    margin: 2rem 0 0 2rem;
    padding: 2rem;
    height: 180vh;
    overflow: scroll;
}

.form-first-part-container {
    overflow: hidden;
}

.form-first-part-container .col-md-6 {
    height: 10vh;

}

.form-second-part-container {
    height: 80vh;
    overflow-y: scroll;

}

.dashboard-max-card-container.card.fiction-container div.col-sm-4.mb-4.mb-sm-0 {
    margin: 0 0 0 0;
}

.card.profil-card img {
    border-radius: 100% 100% 0 0;
    border: 10px solid rgba(var(--dark-green-01), 0);
}


.dashboard-home-max-card-container .card.profil-card {
    display: flex;
    flex-direction: column;
}

.bottom-top-dashboard .card {
    height: 35vh;
}

.fiction-card .card-header {
    border-bottom: rgba(var(--clear-green-02), 0);
    font-family: var(--montserratRegular);
    font-size: 18px;
    ;
    z-index: 9999;
    margin-left: 2rem;
    font-variant: small-caps;
}

.clan-group .card-body {
    display: flex;
    flex-direction: column;
    height: 9rem;
}

.clan-description {
    display: flex;
    flex: 1;
    padding: 2rem auto;
}

.clan-description p {
    text-align: justify;

}

.card-group.clan-group .card {
    margin: 1rem;
}
.row.top-dashboard .card{
    height: 20rem;
}
.row.bottom-dashboard .card{
    height: 25rem;
}
li.quest-container{
    margin: 0 1rem;
}
.quest-container{
    margin: 1rem;
}
.quest-title{
    height: 4rem;
}
.quest--global-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    height: 20rem;
}
.quest-container,.quest--global-container p, .quest-image-container, .background-image-quest-image-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}
.quest-image-container, .background-image-quest-image-container{
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}
.quest-container .card-body{
    height: 25rem;
}
.quest-title{
    display: flex;
    flex:0.25;
    text-align: center;
}
.quest-button-text{
    display: flex;
    flex-direction: column;
    height: 5rem;
}
.quest-button-text p{
    height: 4rem;
}
.quest-button-text .btn.btn-primary{
    width: 10rem;
}

.one-quest-container .pagination-container{
    margin: 0;
}

.character-of-clan-container{
    display: flex;
    flex-direction: row;
    flex:1
}
.indivual-caracter-container{
    display: flex;
    flex-direction: column;
    flex:1;
    width: 110px;
}
.indivual-caracter-container img{
    width: 100px;
}