/* Montserrat-Regular */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 600;
    src: local('../fonts/Cinzel/Cinzel-Bold.ttf'),
         url('../fonts/Cinzel/Cinzel-Bold.ttf') format('ttf'), /* Super Modern Browsers */
  }