@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './variables.scss';

/* BUTTON */
.btn-primary {
    background-color: rgba(var(--middle-green-02), 1);
    border: 1px solid rgba(var(--middle-green-02), 1);
}
.btn-primary:hover {
    background-color: rgba(var(--clear-green-01), 1);
    border: 1px solid rgba(var(--clear-green-01), 1);
    color: rgba(var(--middle-green-02), 1);
}

/* CARD */
.card-image{
    display: flex;
    justify-content: center;
    background-size: cover;
}
.card-image img{
    width: 75%;
}
.character-list-wrapper .card-header{
    display: flex;
    flex-direction: column;
}
.character-info-general-container, .select-character-container,
.info-fanfiction-container, .game-container, .one-fiction-container
{    
    display: flex;
    flex-direction: row;
}
.fiction-container, .identity-character-container{
    display: flex;
    flex-direction: column;
}
.identity-character-container,
.character-chapters-fiction-container,
.game-container, .one-fiction-container{
    flex: 1;
}
.name-characatrer-text-card{
    text-align: center;
    font-size: 3vh;
    font-variant: small-caps;
}
.name-characatrer-link{
    flex: 1;    
}
.select-character-container{
    flex-wrap: wrap;
}
.select-character-container .form-check{
    width: 15rem;
}
.create-character-form, .card-form-create-character .card-body{
    width: 100%;
    height: 70vh;
    overflow-y: hidden;
    overflow-x: hidden;    
    padding: 1rem;
}
.create-character-form .text-area-container{
    height: 30rem;
}
.create-character-form > div:nth-child(2){
    height: 40vh;
}
.select-character-container img{
    width: 50%;
}


.avatar-container h2, input#upload-avatar{
    color: rgba(var(--main-white), 1)
}

.biographie-text{
    text-align: justify;
}
.row.btn-generate-btn{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.logo img{
    width: 55%;
}
.logo-wrapper-contain{
    display: flex;
    flex-direction: row;
}
.logo-wrapper-contain .logo{
    flex: 0.25
}
.list-all-fictions-globale--container{
    display: flex;
    flex-direction: row;
    width: 22rem;
}

.summaray-title-text{
    margin: 0 0 0 0.5rem;
}
.pagination-container{
    margin-top: -2rem;
}

.row.list-fiction-card-container{
    height: 35rem;
    padding: 1rem;
}
#dashboard .row.top-dashboard .card-global{
    margin: 0 auto;
}