// src/assets/styles/custom-breakpoints.scss

// Définissez vos points de rupture personnalisés
$custom-breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px
);

// Utilisez ces breakpoints pour vos styles
@media (max-width: map-get($custom-breakpoints, "md")) {
  body {
    font-size: 14px;
  }
}

@media (min-width: map-get($custom-breakpoints, "lg")) {
  body {
    font-size: 16px;
  }
}
