@import './variables.scss';

.ql-toolbar.ql-snow, .ql-editor.ql-blank {
    background-color: rgba(var(--main-white),1);
}
#Content.ql-container.ql-snow{
    height: 10rem;
}
.btn-validate-container{
    margin: 3rem 0rem 0 0;
}