@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.pagination-container {
    width: 100vh;
    align-items: center;
    align-content: center;
}
.row.all-calls-pagination-container{
    height: 100px;
}
.pagination li,.pagination-container, .pagination-container-row.col-lg-12.col-md-12.col-sm-12.col-xxl-12.col-xs-12 {
    display: flex;
    flex-direction: row;
    flex:1;
    margin: 0;
    margin-top: -3rem;
    justify-content: right;
}
.pagination-container{
    margin-top: -5rem;
}
.row.search-pagination-container{
    height: 50px;
}
.row.search-pagination-container .col-2{
    padding: 0 0 1rem 0;
}
.pagination-container-row.col-lg-12.col-md-12.col-sm-12.col-xxl-12.col-xs-12{
    padding: 2rem 0 0 1rem;
    margin: 0 auto;
    align-items: center;
}
.row.pagination-container .col-2{
    margin: -3rem 0 0 0;
}
.row.pagination-container p{
    color:rgba(var(--dark-green-01),1);
    font-size: 25px;
    font-weight: 600;
}
.nav-btn-contain button{
    height: 40px;
}