@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#quest-by-id {
    width: 100%;
    height: 90vh;
  }
  
  #quest-by-id .quest-by-id-card {
    width: 100%;
  }
  
  #quest-by-id .parallax-container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 10rem;
    transform-style: preserve-3d;
  }
  
  #quest-by-id .parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    transform: translate3d(5, 5, 5);
    transition: transform 0.5s linear;
  }
  
  #quest-by-id .parallax-layer:nth-child(1) {
    z-index: 1;
    transform: translateZ(-200px) translateY(8rem) scale(2.5);
  }
  
  #quest-by-id .parallax-layer:nth-child(2) {
    z-index: 2;
    transform: translateZ(-100px) scale(2);
  }
  
  #quest-by-id .parallax-layer:nth-child(3) {
    z-index: 3;
    transform: translateZ(-60px) translateX(-25rem) translateY(15rem) scale(1);
  }
   #quest-by-id .parallax-layer:nth-child(4) {
    z-index: 4;
    transform: translateZ(-20px)  translateY(20rem) scale(1.05);
  }
  
  #quest-by-id .chat-image {
    position: absolute;
    z-index: 4;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    /* Adjust size as needed */
    height: auto;
  }
  
  #quest-by-id .quest-details {
    position: relative;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
  }
  
  #quest-by-id .interactive-elements .clickable {
    position: absolute;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #quest-by-id .interactive-elements .clickable:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }