@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard{
    margin-top: -1rem;
    background-color: rgba(var(--clear-green-0),1);
    height: 21rem;
    color: rgba(var(--main-white),1)
}
.card-body.scheduler-container a, .fc-toolbar-title{
    color: rgba(var(--main-white),1)
}

.fc .fc-button-primary{
    background-color: rgba(var(--dark-green-01),1)
}
.fc-popover-title{
    color: rgba(var(--dark-green-01),1)
}