@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
a{ text-decoration: none; }
.title-author-container h1{
    font-size: 2.5rem;
    font-variant-caps: petite-caps;
    font-weight: 500;
    font-family: 'Cinzel';
}
.info-fan .author-text{
    font-family: 'Monsteserat';
}
.summaray-title-text p a{
    color: rgba(var(--clear-green-02),1);
    font-variant: small-caps;
    font-size: 1.25rem;
    font-weight: 600;
}
.summaray-title-text p a:hover{
    color: rgba(var(--active-hover), 1);

}
.rating{
    width: 10rem;
    height: 4rem;
    display: flex;
   flex-direction: column; 
}
.rating-star{
    display: flex;
    flex-direction: row;
}
.rating svg{
    flex: 1
}
.rating svg {
    fill: #d3d3d3;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
  }
  .rating svg.checked {
    fill: rgb(255, 215, 1);
  }
  .card.quest-by-id-card h2{
    color: rgba(var(--main-white), 1);
  }
  #quest-by-id .card-header.quest-container-header{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .modal-body .form-label{
    color: rgba(var(--main-black), 1)
  }

  .carousel__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .card-header h2{
    font-variant: all-petite-caps;
    text-transform: capitalize;
    font-size: 42px;
}